@model  PMS.UserManage.Application.ModelDto.Verify.Senior
@{
    ViewData["Title"] = "升学达人认证";
    Layout = "~/Views/PC/Shared/_PCUserLayout.cshtml";
}
@section css{
    <link rel="stylesheet" href="@ViewBag.FileHost_M/css/mine/authentication.css" />
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">升学达人认证</span>
    <span class=""></span>
</header>

<section class="mt school">
    <div class="title text-center">
        <div class="text">
            <h5>升学达人认证</h5>
            <p>平台大V，彰显不同身份</p>
        </div>
    </div>
    <div class="content">
        <div class="condition">
            <h5 class="title text-center">申请条件</h5>
            <div class="list">
                <ul>
                    <li class="flex justify-content-between">
                        <div class="head flex">
                            <i class="mine-icon"></i>
                            <div>
                                <p>清晰头像</p>
                                <a href="@Url.Action("Index","Info")">上传头像&gt;&gt;</a>
                            </div>
                        </div>
                    </li>
                    <li class="flex justify-content-between">
                        <div class="phone flex">
                            <i class="mine-icon"></i>
                            @if (Model.isBindMobile)
                            {
                                <p style="line-height: 2.3;">绑定手机</p>
                            }
                            else
                            {
                                <p>绑定手机</p>
                                <a href="@Url.Action("Index", "Info")">马上绑定&gt;&gt;</a>
                            }
                        </div>
                        <i class="mine-icon unsatisfy @(Model.isBindMobile?"satisfy":"")"></i>
                    </li>
                    <li class="flex justify-content-between">
                        <div class="sxb flex">
                            <i class="mine-icon"></i>
                            <div>
                                <p style="line-height: 2.3;">回复数&gt;10</p>
                            </div>
                        </div>
                        <i class="mine-icon unsatisfy @(Model.isReplyReach?"satisfy":"")"></i>
                    </li>
                    <li class="flex justify-content-between">
                        <div class="message flex">
                            <i class="mine-icon"></i>
                            <div>
                                <p style="line-height: 2.3;">发布点评/提问数&gt;5</p>
                            </div>
                        </div>
                        <i class="mine-icon unsatisfy @(Model.isPublishReach?"satisfy":"")"></i>
                    </li>
                </ul>
                @if (Model.isBindMobile && Model.isReplyReach && Model.isPublishReach)
                {
                    <a href="@Url.Action("Form")" class="text-center submit-btn can-submit">立即申请</a>

                }
                else
                {
                    <a class="text-center submit-btn">立即申请</a>
                }
            </div>
        </div>

        <div class="privilege text-center">
            <h5 class="title">认证特权</h5>
            <ul class="flex">
                <li>
                    <div><i class="mine-icon user-icon"></i></div>
                    <div>达人认证标识</div>
                    <p>权威身份，易于辨识</p>
                </li>
                <li>
                    <div><i class="mine-icon"></i></div>
                    <div>官方推荐</div>
                    <p>邀请页推荐，便于分享</p>
                </li>
                <li>
                    <div><i class="mine-icon"></i></div>
                    <div>回复前置</div>
                    <p>更显眼的展示位置<br>增加曝光</p>
                </li>
            </ul>
        </div>

        <div class="question-list">
            <h5 class="title text-center">常见问题</h5>
            <ul>
                <li><a href="@(Url.Action("QA","Contact"))#verifytime">认证周期所需时间？<i class="arrow"></i></a></li>
                <li><a href="@(Url.Action("QA","Contact"))#nickandheadrule">身份认证后能否修改昵称？<i class="arrow"></i></a></li>
            </ul>
            <a href="" class="more-question text-center">查看更多问题></a>
        </div>
    </div>
</section>