
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    
    <title>comment</title>
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/replyAlter.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/swiper.min.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/common.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/comment-and-qa.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/comment-list.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/qa-list.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/search.css">
</head>
<body>
    <div class="screenContent">
        <section class="search">
            <i class="close-select-city"></i>
            <div class="search-school">
                <div class="flex text-center">
                    <div class="city" data-currentlocation="440100">广州<i class="arrow"></i></div>
                    <div class="input">
                        <i class="search-icon"></i>
                        <input id="search" type="text" placeholder="我要选校">
                    </div>
                </div>
            </div>
            <div class="cancel">取消</div>
        </section>

        <section class="search-content">
            <h5>
                <i id="result-icon" class="search-icon"></i>
                <span class="keyword"></span>
                <span class="result">约<span></span>个结果</span>
            </h5>
            <ul class="search-list"></ul>
        </section>

        <section class="select-city">
            <div class="location-city"><i class="location-icon"></i>广州</div>
            <div class="history">
                <h5>历史访问城市</h5>
                <ul class="history-list flex"></ul>
            </div>
            <div class="hot-select">
                <h5>热门城市</h5>
                <ul class="hot-select-list flex"></ul>
            </div>
            <div class="select-content"></div>
            <div class="tab-select text-center">
                <ul>
                    <li>历</li>
                    <li>热</li>
                </ul>
                <ul></ul>
            </div>
        </section>

        <!-- 没有数据显示 -->
        <section class="not-match text-center" style="display:none;">
            <i class="search-icon"></i>
            <p>暂无该学校数据</p>
        </section>
    </div>
    <div class="curtain"></div>

    <script src="@ViewBag.StaticFile/js/jquery-3.4.0.min.js"></script>
    <script src="@ViewBag.StaticFile/js/loading.js"></script>
    <script src="@ViewBag.StaticFile/js/layout-common.js"></script>
    <script src="@ViewBag.StaticFile/js/swiper.min.js"></script>
    <script src="@ViewBag.StaticFile/js/jquery.mark.min.js"></script>
    <script src="@ViewBag.StaticFile/js/comment/city-select.js"></script>
    <script>
        //var test =
        var LoadPageIndex = 1, LoadPageSize = 20, isLoad = true;
        var isHttp = true;
        var redirect = '@ViewBag.redirect'
        var toUrl = '@ViewBag.toUrl'
        var ViewisComment = @(ViewBag.isComment ? 1 : 0)


         // 判断是否滚动到页面底部 加载更多数据
        $(window).scroll(function () {
            console.log(Math.round($(window).scrollTop() + $(window).height()) + "：" + $(document).height())
            if (Math.round($(window).scrollTop() + $(window).height()) + 1 >= $(document).height() &&　isLoad && $("#other").hasClass("check"))
            {
                let Url = "";
                let CurrentLocation = $(".city").attr("data-currentLocation")
                let inputVal = $(".input input[type='text']").val()
                let isComment = $(".tab").find("li[class=active]").attr("data-query") == 1;

                isLoad=false;
                GetSchoolByCity(inputVal, isComment, CurrentLocation, Url, LoadPageIndex, LoadPageSize)
            }
        });

       var test = { "Key": "A", "CityCodes": @Html.Raw(ViewBag.History) }
        var hot = {"Key":"A","CityCodes":@Html.Raw(ViewBag.HotCity)}
        var test2 = @Html.Raw(ViewBag.AllCity);
        // 分别对应：目前定位、历史访问、热门城市、城市列表
        $('.select-city').cityList('@ViewBag.LocalCity.Name',@ViewBag.LocalCity.Id, test, hot, test2);

        // 搜索栏
        var inputVal = '';
        var tabInx = 0;

        $(".screenContent .search-school input").on("compositionstart", function () {
            isHttp = false;

        })

        $( ".screenContent .search-school input").on("compositionend", function () {
            isHttp = true;
        })

        //城市更换
        $(".screenContent .select-city").on("click", ".select-content ul li,.history ul li,.hot-select ul li", function () {

            var currentCity = $(this)
            console.log(currentCity.text())

             //记住当前选择的城市
            $.ajax({
                url: "/Common/AddCurrentUserSelectCiyt?city=" +currentCity.text(),
                type: "GET",
                success: function ()
                {

                }
            })

            $(".search-school .city").attr("data-currentLocation", currentCity.attr("data-adcode")).html(currentCity.text() + '<i class="arrow"></i>');
            $(".location-city").attr("data-currentLocation", currentCity.attr("data-adcode")).html("<i class='location-icon'></i>" + currentCity.text())

            QPageIndex = 1;
            //加载对应城市数据
            CloseMask()
        })

         $("body").on("click", ".result-list li", function () {
              var currentCity = $(this)
            console.log(currentCity.text())

            $(".search-school .city").attr("data-currentLocation", currentCity.attr("data-adcode")).html(currentCity.text() + '<i class="arrow"></i>');
            $(".location-city").attr("data-currentLocation", currentCity.attr("data-adcode")).html("<i class='location-icon'></i>" + currentCity.text())
             $('.result-list').css('display', 'none');
              //记住当前选择的城市
            $.ajax({
                url: "/Common/AddCurrentUserSelectCiyt?city=" +currentCity.text(),
                type: "GET",
                success: function ()
                {

                }
            })

             $("#search").attr("placeholder","请输入学校名称")
            QPageIndex = 1;
            //加载对应城市数据
            CloseMask()
        })

        $('.screenContent .search-school input').bind('input', function () {
            inputVal = $(this).val();
            if ($('.city').hasClass('open-select-city'))
            {
                setTimeout(function () {
                            $.ajax({
                            url: "/Common/GetCityInfoByPinYin?CityPinyin=" + inputVal,
                            type: "GET",
                            success: function (data)
                            {
                                if (data.status == 200)
                                {
                                    if (data.data.length > 0)
                                    {
                                        var html = '';
                                        for (var i = 0; i < data.data.length; i++) {
                                            html += '<li data-AdCode="' + data.data[i].adCode + '">' + data.data[i].areaName + '</li>';
                                        }
                                        $('.result-list').length == 0 ? $('.select-city').after('<ul class="result-list">' + html + '</ul>') : $('.result-list').html(html);
                                        $('.select-city').css('display', 'none');
                                        $(".result-list").css("display","block")
                                    }
                                    else
                                    {
                                        $('.select-city').css('display', 'none');
                                        var html = '<div><i class="icon"></i></div><p>暂无该城市数据</p></div>';
                                        $('.not-search-data').length == 0 ? $('.select-city').after('<div class="not-search-data">' + html + '</div>') : $('.not-search-data').html(html);
                                    }
                                }
                            }
                        })
                    }, 500)
            }
            else
            {
                    setTimeout(function () {
                    if (isHttp)
                    {
                        $('.keyword').html(inputVal);
                        var isCommentTitle = "点评";
                        var isComment = true;
                        var Url = "";
                        var CurrentLocation = $(".city").attr("data-currentlocation")

                        //检测当前为点评、还是问题
                        if (ViewisComment == 0) {
                            isComment = false;
                            isCommentTitle = "问答";
                        }

                        if (inputVal) {
                            //if (isComment) {
                            //    Url = "/CommentWriter/CommitCommentView?currentId=e8dd0b05-ec69-44ee-942d-0294a4218764&SchoolId=e4398c61-2359-42ff-9215-3b8605bc3d27";
                            //}
                            //else {
                            //    Url = "/Question/Index?SchoolId=";
                            //}
                            LoadPageIndex = 1
                            GetSchoolByCity(inputVal, isComment, CurrentLocation, Url, LoadPageIndex, LoadPageSize)
                        }
                        else {
                            $('.search-content, .not-match').css('display', 'none');
                        }
                        $('.search-content>h5, .search-list').css('display', 'block');
                    }
                }, 0)
            }
        });
        var mark = function () {
            // Read the keyword
            var keyword = inputVal;

            // Determine selected options
            var options = { "className": "match" };

            // Mark the keyword inside the context
            $(".search-school-name").removeMark();
            $(".search-school-name").mark(keyword, options);
        };
        $('.screenContent .search-school input').on("keyup", mark);

        $('.screenContent .search .search-icon').on('click', function () {
            $('.search-school input').focus();
        });
        // input获取焦点
        $('.screenContent .search-school input').focus(function () {
            $('.search').css('margin-left', '5%');
            $("#search").css({ "margin-left": "0pt","padding-left":"0pt"})
            $('.search, .search input').css({ 'background': 'rgb(248, 247, 249)', 'text-align': 'left' });
            setTimeout(function () {
                $('.cancel').fadeIn();
                $('.top, section>.content').css('display', 'none');
            }, 100)
            $('.search-school .search-icon').css('display', 'none');
            $(this).attr('placeholder', '');
        });
        // input失去焦点
        $('.screenContent .search-school input').blur(function () {
            if (inputVal) {
                return;
            }
            else {
                resetInput();
            }
        });
        // 取消
        $('.cancel').on('click', function () {
            $('.search-school input').val('');
            resetInput();
        });

        function resetInput() {
            $('.search').css('margin-left', '15%');
            $('.search, .search input').css({ 'background': '#fff', 'text-align': 'center' });
            $('.top, .content').css('display', 'block');
            $('.cancel').fadeOut();
            $('.search-school .search-icon').css('display', 'block');
            $('.search-content, .not-match').css('display', 'none');
            $('.select-content .comment-list, .select-content .qa-list').css('display', 'none');
            $('.search-school input').attr('placeholder', '我要选校');
            //$(".screenContent").hide()

            location.href = redirect;
            if ($(".radio .select").find("li[class='active']").length > 0)
            {
                $(".write-comment").show()
            }

            $(".comment").show()
            $(".drop-down").hide()
            $(".submit-btn").show()
            $(".school-name").removeClass('open')
            $(".write-question").show()
        }


        function GetSchoolByCity(inputVal, isComment, cityCode, Url, PageIndex, PageSize)
        {
            var Title = isComment ? "点评" : "问答"
            $.ajax({
                url: "/Common/GetInfoBySchoolName?schoolName=" + $("#search").val() + "&citycode=" + cityCode + "&isComment=" + isComment + "&PageIndex=" + PageIndex + "&PageSize=" + PageSize, type: "GET", success: function (data) {
                    data = data.data;
                    if (data.total > 0) {
                        isLoad=true;
                        let row = data.rows
                        if (row.length > 0) {
                            $("#result-icon").css({"display":"-webkit-inline-box","left":"0px"})
                            $(".not-match").hide()
                            let html = "";
                            for (let i = 0; i < row.length; i++)
                            {
                                html += '<li><a href="'+ toUrl + row[i].schoolId +'">'
                                html += '<i class="search-icon"></i>'
                                html += '<span class="search-school-name">' + row[i].schoolName + '</span>'
                                html += '<span class="school-comment-num">' + row[i].currentTotal + '条'+Title+'</span>'
                                html += '</a></li>'
                            }

                            if (PageIndex == 1)
                            {
                                $(".search-list").empty()
                            }

                            $(".search-list").append(html)
                            $(".result").find("span").text(data.total)
                            $(".search-content").show()
                            LoadPageIndex++;
                        }
                    }
                    else
                    {
                        if (PageIndex == 1)
                        {
                            $(".not-match").show()
                        }
                    }
                }
            })
        }

        $('.search-list').on('click', 'li', function () {
            var schoolName = $(this).children('.search-school-name').text();
            $('.search input').val(schoolName);
            if (tabInx == 0) {
                $('.select-content .comment-list').css('display', 'block');
            }
            else if (tabInx == 1) {
                $('.select-content .qa-list').css('display', 'block');
            }
            $('.search-content>h5, .search-list').css('display', 'none');
        });

        // 点击城市名称首字母导航
        $('.screenContent .tab-select>ul:first-child').on('click', 'li', function () {
            let inx = $(this).index();
            if (inx == 0) {
                $('html, body').scrollTop($('.history').offset().top - 30);
            }
            else if (inx == 1) {
                $('html, body').scrollTop($('.hot-select').offset().top - 30);
            }
        });
        $('.tab-select>ul:last-child').on('click', 'li', function () {
            let inx = $(this).index();
            $('.screenContent').scrollTop($('.select-content>div').eq(inx).offset().top - 30);
        });

        // 点击切换城市
        $(' .city').on('click', function () {
            $(this).addClass('open-select-city').children('.arrow').css({ 'transform': 'rotate(180deg)', 'top': '-25%' });
            $('.search-content, .not-match').css('display', 'none');
            $('.select-city, .close-select-city').fadeIn();
            $('.search, .search input').css({ 'background': 'rgb(248, 247, 249)', 'text-align': 'left' });
            $('.search-school input').addClass('open-select').css('margin-left', '30pt').attr('placeholder', '输入城市名或拼音查询');
            $('.top, section>.content').css('display', 'none');
            $('.input .search-icon').css({ 'left': '13pt', 'right': 'unset' });
        });

        // 点击返回箭头关闭选择城市列
        $('.close-select-city').on('click', function () {
            $(this).css('display', 'none');
            $('.city').removeClass('open-select-city');
            $('.select-city').css('display', 'none');
            $('.search-school input').val('');
            //resetInput();
        });


        //关闭城市弹框
        function CloseMask()
        {
            $(".close-select-city").hide();
            $('.city').removeClass('open-select-city');
            $('.select-city').css('display', 'none');
            $('.search-school input').val('');
            //resetInput();
        }

            //$('.search-list').on('click', 'li', function () {
            //    var schoolName = $(this).children('.search-school-name').text();
            //    $('.search input').val(schoolName);
            //    if (tabInx == 0) {
            //        $('.select-content .comment-list').css('display', 'block');
            //    }
            //    else if (tabInx == 1) {
            //        $('.select-content .qa-list').css('display', 'block');
            //    }
            //    $('.search-content>h5, .search-list').css('display', 'none');
            //});
    </script>
</body>
</html>
