@using PMS.School.Domain.Dtos;
@using PMS.School.Domain.Common;
@using PMS.School.Infrastructure.Common
@using iSchool;
@{
    Layout = null;
    var schtype = (SchFType0)ViewBag.SchFType;
}
@model PMS.School.Domain.Dtos.SchoolExtDto

<!doctype html>
<html lang="en">
<head>
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
    <title>@($"{Model.SchoolName}片区划分_附近的学区房_生活硬件设施-上学帮")</title>
    <meta name="keywords" content="@($"{Model.SchoolName}片区划分,{Model.SchoolName}附近的学区房,{Model.SchoolName}生活设施")">
    <meta name="description" content="上学帮给家长提供学校附近的学区房信息及学校周边生活硬件设施信息，帮助家长选择合适的房源信息，方便小孩上优质学校">

    <link rel="stylesheet" href="@ViewBag.StaticFile/css/swiper.min.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/common.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/iconfont.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/school-detail.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/school-more-msg.css" />
</head>
<body>
    <header class="header flex justify-content-between">
            <a class="arrow"></a>
            <span class="header-title">@Model.SchoolName - @Model.ExtName</span>
            <span class=""></span>
            <span class="btn-list flex">
                @if (ViewBag.CollectStatus == true)
                {
                    <a class="header-icon collection"></a>
                }
                else
                {
                    <a class="header-icon "></a>
                }
                <a class="header-icon share" data-title="@($"{ViewBag.UserName}向您推荐了一所学校快来了解一下呗")" data-content="@($"{Model.SchoolName}-{Model.ExtName}")" data-url="@Url.Action("Detail", "School", new { extId = Model.ExtId, sid = Model.Sid })" data-logo="@Uri.EscapeDataString("https://cdn.sxkid.com/images/logo_share_v4.png")"></a>
                <a class="other">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </span>
        </header>
    <section class="school-more-msg mt">
        <div class="school-review">
            <h5 class="title">学校总评</h5>
            <div class="school-review-box">
                <!-- 总体评价 start -->
                <div class="overall-evaluation">
                    <div class="overall-evaluation-grade">总体评价：<span class="private-score-grading">A</span></div>
                    <input type="hidden" value="01" class="dataId">
                    <input type="hidden" value="1" class="dataType">
                    <input type="hidden"
                           data-grade='[{"name":"综合","score":72.0},{"name":"师资","score":89.0},{"name":"硬件","score":88.0},{"name":"费用","score":80.0},{"name":"周边","score":87.0},{"name":"周边","score":87.0}]'
                           class="grade">

                    <div id="echearts" style="height: 3.14rem; margin-top: .5rem; position: relative; bottom: .35rem;"></div>
                </div>
                <!-- 总体评价 end -->
                <!-- 分项评分 start -->
                <div class="analytic-scoring">
                </div>
                <!-- 分项评分 end -->
            </div>
        </div>

        <!-- 家长点评 start -->
        <div class="parent-scoring">
            <div class="parent-scoring-header">
                <h2 class="title">家长评价</h2>
                <div class="comment-num">
                    <!-- <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2853553659,1775735885&fm=26&gp=0.jpg"
                        alt="">
                    <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1542609117,2286902976&fm=26&gp=0.jpg"
                        alt="">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1320272459,772040234&fm=26&gp=0.jpg"
                        alt="">
                    <span>已邀请264人回答</span> -->
                </div>
            </div>
            <div class="parent-scoring-content">
                <div class="scoring-content-left">
                    <!-- <h2>4.7<span>分</span></h2> -->
                    <ul class="parent-star-list">
                        <li class="parent-star"><i></i></li>
                        <li class="parent-star"><i></i></li>
                        <li class="parent-star"><i></i></li>
                        <li class="parent-star"><i></i></li>
                        <li><i></i></li>
                    </ul>
                </div>
                <div class="scoring-content-right">
                    <ul class="scoring-list">
                        <li>
                            <img src="../../imgs/school-more-msg/five-star@3x.png" alt="">
                            <progress value='90' max='100'></progress>
                        </li>
                        <li>
                            <img src="../../imgs/school-more-msg/four-star@3x.png" alt="">
                            <progress value='90' max='100'></progress>
                        </li>
                        <li>
                            <img src="../../imgs/school-more-msg/three-star@3x.png" alt="">
                            <progress value='90' max='100'></progress>
                        </li>
                        <li>
                            <img src="../../imgs/school-more-msg/two-star@3x.png" alt="">
                            <progress value='90' max='100'></progress>
                        </li>
                        <li>
                            <img src="../../imgs/school-more-msg/one-star@3x.png" alt="">
                            <progress value='90' max='100'></progress>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="/comment/school-@ViewBag.ShortSchoolNo/" class="loop-all-scoring">查看全部评价></a>

        </div>
        <!-- 家长点评 end -->

        @if (ViewBag.Score != null && ((List<SchoolExtScore>)ViewBag.Score).Count > 0 && 1 == 2)
        {
            var score = (List<SchoolExtScore>)ViewBag.Score;
            var index = (List<SchoolExtScoreIndex>)ViewBag.ScoreIndex;
            //var character = (SchoolExtCharacterDto)ViewBag.Character;
            <div>
                <h5 class="title">学校总评</h5>
                <div id="echearts" style="height: 4.6rem; margin-top: .5rem; position: relative;"></div>
                <div class="total-grade"><span>总评得分：<i>@(score.FirstOrDefault(p => p.IndexId == 22)?.Score ?? 0)</i></span></div>
                <div class="grade-detail flex justify-content-between">评价详情：<a href="@Url.Action("ExtFraction","School",new { sid=Model.Sid,extId=Model.ExtId,SchoolName=Model.SchoolName,ExtName=Model.ExtName})">评价细项<i class="arrow"></i></a></div>
                <ul class="fraction-detail">
                    @foreach (var index_lv1 in index.Where(p => p.Level == 1))
                    {
                        var scoreValue = Math.Round((decimal)(score.FirstOrDefault(p => p.IndexId == index_lv1.Id)?.Score ?? 0), 0);

                        <li class="@(scoreValue<=100&&scoreValue>80?"":scoreValue<=80&&scoreValue>70?"green":scoreValue<=70&&scoreValue>60?"normal":"low")">
                            <span>@index_lv1.Index_Name</span>
                            <progress value='@(scoreValue)' max='100'></progress>
                            <span class="number">@(scoreValue)</span>
                        </li>
                    }
                    @*<li>
                            <span>综合</span>
                            <progress value='@((character.SchoolCredentials+character.EnterEasy)/2)' max='100'></progress>
                            <span class="number">@((character.SchoolCredentials + character.EnterEasy) / 2)</span>
                        </li>
                        <li>
                            <span>师资</span>
                            <progress value='@(character.TeacherPower)' max='100'></progress>
                            <span class="number">@(character.TeacherPower)</span>
                        </li>
                        <li>
                            <span>硬件</span>
                            <progress value='@((character.Hardware+character.Edufund+character.RegionaleConomic)/3)' max='100'></progress>
                            <span class="number">@((character.Hardware + character.Edufund + character.RegionaleConomic) / 3)</span>
                        </li>
                        <li>
                            <span>课程</span>
                            <progress value='@(character.CoureType)' max='100'></progress>
                            <span class="number">@(character.CoureType)</span>
                        </li>
                        <li>
                            <span>学术</span>
                            <progress value='@((character.UpgradeEasy+character.PopulationDensity)/2)' max='100'></progress>
                            <span class="number">@((character.UpgradeEasy + character.PopulationDensity) / 2)</span>
                        </li>
                        <li class="normal">
                            <span>费用</span>
                            <progress value='@(character.Cost)' max='100'></progress>
                            <span class="number">@(character.Cost)</span>
                        </li>
                        <li class="low">
                            <span>周边</span>
                            <progress value='@((character.Comfort+character.Safety+character.TrafficEasy)/3)' max='100'></progress>
                            <span class="number">@((character.Comfort + character.Safety + character.TrafficEasy) / 3)</span>
                        </li>*@
                </ul>
            </div>
        }

        <div>
            <h5 class="title">学校概况</h5>
            <ul class="msg-list">
                <li class="flex"><span class="list-title">学校类型：</span><div class="msg-content">@(new iSchool.SchFType0(Model.Grade, Model.Type, Model.Discount, Model.Diglossia, Model.Chinese).GetDesc())</div></li>
                <li class="flex"><span class="list-title">学年费用：</span><div class="msg-content"> @(Model.Tuition != null ? Model.Tuition >= 10000 ? Math.Round((decimal)(Model.Tuition / 10000), 2) + "万元/年":Model.Tuition.ToString()+"元/年": "暂未收录")</div></li>
                <li class="flex">
                    <a class="common-popup" title="咨询电话" data="@Model.Tel">
                        <p class="content-cell">
                            <span class="list-title">咨询电话：</span><span class="common-popup-text">@(!string.IsNullOrEmpty(Model.Tel) ? Model.Tel : "暂未收录")</span>
                            <i class="arrow"></i>
                        </p>
                    </a>
                </li>
                <li class="flex">
                    <a class="common-popup" title="官方网站" data="@Model.WebSite">
                        <p class="content-cell">
                            <span class="list-title">官方网站：</span><span class="common-popup-text">@(!string.IsNullOrEmpty(Model.WebSite) ? Model.WebSite : "暂未收录")</span><i class="arrow"></i>
                        </p>
                    </a>
                </li>
                <li class="flex">
                    @if (string.IsNullOrEmpty(Model.Address))
                    {
                        <span class="list-title">学校地址：</span>
                        <span class="msg-content">暂未收录</span>
                    }
                    else
                    {
                        <a class="address">
                            <p>
                                <span class="list-title">学校地址：</span>
                                @Model.Address
                                <i class="arrow"></i>
                            </p>
                        </a>
                    }
                </li>
                <li class="flex">
                    <span class="list-title">走读寄宿：</span>
                    <div class="msg-content">
                        @{
                            var lodgingType = LodgingUtil.Reason(Model.Lodging, Model.Sdextern);
                            var lodgingDesc = ProductManagement.Framework.Foundation.EnumExtension.Description(lodgingType);
                        }
                        @if (!string.IsNullOrWhiteSpace(lodgingDesc))
                        {
                            @lodgingDesc
                        }
                        else
                        {
                            @:暂未收录
                        }
                    </div>
                </li>
                <li class="flex">
                    <span class="list-title">有无饭堂：</span>
                    <div class="msg-content">
                        @if (Model.Canteen == true)
                        {
                            @:有
                        }
                        else if (Model.Canteen == false)
                        {
                            @:无
                        }
                        else
                        {
                            @:暂未收录
                        }
                    </div>
                </li>
                <li class="flex">
                    <a class="canteen" data-notdata="@(string.IsNullOrEmpty(Model.Meal)?"1":"0")">
                        <p>
                            <span class="list-title" style="float:left;">伙食情况：</span>
                            @if (string.IsNullOrEmpty(Model.Meal))
                            {
                                @:暂未收录
                            }
                            else
                            {
                                var mealText = StrHelper.GetHtmlText(Model.Meal, false);
                                if (string.IsNullOrEmpty(mealText))
                                {
                                    mealText = "查看详情";
                                }
                                <span class="canteen-text">@(mealText)</span>
                            }
                            @if (!string.IsNullOrEmpty(Model.Meal))
                            {
                                @*<span style="width: 20%;float: left;">查看详情</span>*@
                                <i class="arrow"></i>
                            }
                        </p>
                    </a>
                </li>
                @if (SchUtils.Canshow2("学校特色课程或项目", schtype))
                {
                    <li class="flex">
                        @{ var characteristic = ((List<KeyValueDto<string>>)ViewBag.Characteristic).Count() > 0 ? string.Join("、", ((List<KeyValueDto<string>>)ViewBag.Characteristic).Select(p => p.Key)) : "暂未收录";}
                        <a class="common-popup" title="特色课程" data="@characteristic">
                            <p class="content-cell">
                                <span class="list-title">特色课程：</span><span class="common-popup-text">@characteristic</span><i class="arrow"></i>
                            </p>
                        </a>
                    </li>
                }
                @if (SchUtils.Canshow2("学校认证", schtype))
                {
                    <li class="flex">
                        @{var authentication = ((List<KeyValueDto<string>>)ViewBag.Authentication).Count() > 0 ? string.Join("、", ((List<KeyValueDto<string>>)ViewBag.Authentication).Select(p => p.Key)) : "暂未收录";}
                        <a class="common-popup" title="学校认证" data="@authentication">
                            <p class="content-cell">
                                <span class="list-title">学校认证：</span><span class="common-popup-text">@authentication</span><i class="arrow"></i>
                            </p>
                        </a>
                        @*国际级示范性高中*@
                    </li>
                }
                <li class="flex">
                    <span class="list-title">学生人数：</span>
                    <div class="msg-content">
                        @(Model.Studentcount == null ? "暂未收录" : Model.Studentcount.ToString())
                    </div>
                </li>
                <li class="flex">
                    <span class="list-title">师生比例：</span>
                    <div class="msg-content">
                        @(ViewBag.TeaProportion == null ? "暂未收录" :ViewBag.TeaProportion)
                    </div>
                </li>
                @if (SchUtils.Canshow2("外教占比", schtype))
                {
                    <li class="flex">
                        <span class="list-title">外教占比：</span>
                        <div class="msg-content">
                            @(ViewBag.ForeignTea == null ? "暂未收录" :ViewBag.ForeignTea)
                        </div>
                    </li>
                }
                @if (SchUtils.Canshow2("出国方向", schtype))
                {
                    <li class="flex">
                        @{
                            var kvsList = new List<string>();
                            if (((List<KeyValueDto<string>>)ViewBag.Abroad).Count() > 0)
                            {
                                kvsList = ((List<KeyValueDto<string>>)ViewBag.Abroad).Select(p => p.Key).ToList();
                                if (kvsList.Any(k => k == "其他"))
                                {
                                    kvsList.Remove("其他");
                                    kvsList.Add("其他");
                                }
                            }
                            var strKvs = kvsList.Count() > 0 ? string.Join("、", kvsList) : "暂未收录";
                        }
                        <a class="common-popup" title="出国方向" data="@strKvs">
                            <p class="content-cell">
                                <span class="list-title">出国方向：</span><span class="common-popup-text">@strKvs</span><i class="arrow"></i>
                            </p>
                        </a>
                        @*美国、英国、欧洲*@
                    </li>
                }
                <li class="flex">
                    @{ var intro = string.IsNullOrEmpty(Model.Intro) ? "暂未收录" : Model.Intro.Replace("\r\n", "</br>").Replace("\n", "</br>");}
                    <a class="common-popup" title="学校简介" data="@intro">
                        <p class="content-cell">
                            <span class="list-title">学校简介：</span><span class="common-popup-text">@intro.Replace("</br>", "")</span><i class="arrow"></i>
                        </p>
                    </a>
                </li>
                @*双语小学、双语初中、双语高中更多学校信息里面要加上出国方向字段*@
            </ul>
            @if (SchUtils.Canshow2("开放日", schtype))
            {
                @if (((List<KeyValueDto<DateTime?>>)ViewBag.OpenHours).Count > 0)
                {
                    <div class="school-day" data-title="探校活动及开放日" data-notdata="@(((List<KeyValueDto<DateTime?>>)ViewBag.OpenHours).Count>0?"0":"1")">
                        <a data-notdata="@(((List<KeyValueDto<DateTime?>>)ViewBag.OpenHours).Count>0?"0":"1")">
                            <span class="list-title">探校活动：</span>
                            <i class="arrow"></i>
                        </a>
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                @foreach (var item in ((List<KeyValueDto<DateTime?>>)ViewBag.OpenHours))
                                {
                                    //时间排序未来在右面
                                    if (item.Value != null && (DateTime.Now.Subtract(item.Value.Value)).Days >= 0)
                                    {
                                        <div class="swiper-slide ">
                                            <div class="date"><span>@(item.Value?.ToString("yyyy年MM月dd日"))</span><i></i></div>
                                            <div class="content">
                                                <p>@item.Key</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="swiper-slide active">
                                            <div class="date"><span>@(item.Value?.ToString("yyyy年MM月dd日"))</span><i></i></div>
                                            <div class="content">
                                                <p>@item.Key</p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="school-day">
                        <ul style="font-size: .3rem;margin-bottom: .2rem;">
                            <li class="flex">
                                <span class="list-title">探校活动：</span>
                                <div class="msg-content">  暂未收录</div>
                            </li>
                        </ul>
                    </div>
                }
            }
            @if (SchUtils.Canshow2("学校行事历", schtype))
            {
                @if (((List<KeyValueDto<DateTime?>>)ViewBag.Calendar).Count > 0)
                {
                    <div class="school-day-2" data-title="学校行事历" data-notdata="@(((List<KeyValueDto<DateTime?>>)ViewBag.Calendar).Count>0?"0":"1")">
                        <a data-notdata="@(((List<KeyValueDto<DateTime?>>)ViewBag.Calendar).Count>0?"0":"1")">
                            <span class="list-title">学校行事历：</span>
                            <i class="arrow"></i>
                        </a>
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                @foreach (var item in ((List<KeyValueDto<DateTime?>>)ViewBag.Calendar))
                                {
                                    //时间排序未来在右面
                                    if (item.Value != null && (DateTime.Now.Subtract(item.Value.Value)).Days >= 0)
                                    {
                                        <div class="swiper-slide ">
                                            <div class="date"><span>@item.Value?.ToString("yyyy年MM月dd日")</span><i></i></div>
                                            <div class="content">
                                                <p>@item.Key</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="swiper-slide active">
                                            <div class="date"><span>@item.Value?.ToString("yyyy年MM月dd日")</span><i></i></div>
                                            <div class="content">
                                                <p>@item.Key</p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="school-day">
                        <ul style="font-size: .3rem;margin-bottom: .2rem;">
                            <li class="flex">
                                <span class="list-title">学校行事历：</span>
                                <div class="msg-content">  暂未收录</div>
                            </li>
                        </ul>
                    </div>
                }
            }


        </div>

        @*@if (!string.IsNullOrEmpty(Model.Range)
            || !string.IsNullOrEmpty(Model.AfterClass)
            || ((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count() > 0
            || !string.IsNullOrEmpty(ViewBag.Build)
            || Model.ExperienceVideos.Count > 0)
                    {*@

        <div>
            <h5 class="title">其它内容</h5>
            @if (!string.IsNullOrEmpty(Model.Range) && (new byte[] { (byte)SchoolGrade.PrimarySchool, (byte)SchoolGrade.JuniorMiddleSchool }.Contains(Model.Grade)) && Model.Type == (byte)SchoolType.Public)
            {
                <div class="range">
                    <h6>划片范围：</h6>
                    <p>@(string.IsNullOrEmpty(Model.Range) ? "暂未收录" : Model.Range)</p>
                </div>
            }
            @if (Model.Grade == (byte)SchoolGrade.PrimarySchool && !string.IsNullOrEmpty(Model.AfterClass))
            {
                @if (string.IsNullOrEmpty(Model.AfterClass))
                {
                    <p>
                        <span class="title"> 课后管理：</span>
                        @(!string.IsNullOrEmpty(Model.AfterClass) ? PMS.School.Infrastructure.Common.StrHelper.GetHtmlText(Model.AfterClass,false) : "暂未收录")
                        @if (!string.IsNullOrEmpty(Model.AfterClass))
                        {
                            <i class="arrow"></i>
                        }
                    </p>
                }
                else
                {
                    <div class="manage" data-notdata="@(string.IsNullOrEmpty(Model.AfterClass)?"1":"0")">
                        <a data-title="课后管理" data-notdata="@(string.IsNullOrEmpty(Model.AfterClass)?"1":"0")">
                            <p>
                                <span> 课后管理：</span>
                                @(!string.IsNullOrEmpty(Model.AfterClass) ? PMS.School.Infrastructure.Common.StrHelper.GetHtmlText(Model.AfterClass, false) : "暂未收录")
                                @if (!string.IsNullOrEmpty(Model.AfterClass))
                                {
                                    <i class="arrow"></i>
                                }
                            </p>
                        </a>
                    </div>
                }
            }
            @if (((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count() > 0 && (new byte?[] { (byte)SchoolGrade.PrimarySchool, (byte)SchoolGrade.JuniorMiddleSchool }.Contains(Model.Grade) && Model.Type == (byte)SchoolType.Public))
            {
                <div class="school">
                    <h6>
                        对口学校：
                        <a class="total" data-notdata="@(((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count()>0?"0":"1")">
                            共@(((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count())所
                            @if (((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count() > 0)
                            {
                                <i class="arrow"></i>
                            }
                        </a>
                    </h6>
                    <ul class="school-list">
                        @if (((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count() > 0)
                        {
                            <li>
                                <a data-notdata="@(((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count()>0?"0":"1")" href="@Url.Action("Detail","School",new{ExtId=((List<KeyValueDto<Guid>>)ViewBag.CounterPart).FirstOrDefault()?.Value})">
                                    <div class="name">
                                        @(((List<KeyValueDto<Guid>>)ViewBag.CounterPart).FirstOrDefault()?.Key)
                                    </div>
                                    <p class="address">
                                        <i class="iconfont icon-map"></i>
                                        @(((List<KeyValueDto<Guid>>)ViewBag.CounterPart).FirstOrDefault()?.Message)
                                    </p>
                                    <i class="arrow"></i>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            }

            <div class="nearby">
                <span>学位房</span>
                <a> 查看地图 <i class="arrow"></i></a>
            </div>

            @if (Model.ExperienceVideos.Count > 0)
            {
                <div class="video-list">
                    <h6>线上体验课程</h6>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.ExperienceVideos)
                            {
                                <div class="swiper-slide">
                                    <div class="video">
                                        <!-- <video src = "" width="100%"></video> -->
                                        @*<div style="width:100%;background:red;height:50pt;">test</div>*@
                                        <video src="@item.Value" controls width="100%"></video>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @*}*@
    </section>


    <section class="tab">
        <div class="swiper-container">
            <ul class="tab-list swiper-wrapper text-center">
                <li class="swiper-slide active">学校总评</li>
                <li class="swiper-slide">家长评价</li>
                <li class="swiper-slide">学校概况</li>
                <li class="swiper-slide">其它内容</li>
                @*}  *@
            </ul>
        </div>
    </section>

    <!-- 幕布 -->
    <div class="curtain"></div>
    <!-- 弹窗 -->
    <section class="popup">
        <div>
            <h5 class="title text-center">探校活动及开放日</h5><!-- 学校行事历、课后管理、对口学校、伙食情况 -->
            <!-- 图文内容 -->
            <div class="content" style="display: none;">
                <p>分享时机，在不同的时机分析用户是否有分享的意愿，提供给他们合适的分享内容，能让分享的效果更好。用户主动点击分享 绝...</p>
                <div class="img-box"><img src="../../imgs/test.png" alt="" /></div>
                <p>分享时机，在不同的时机分析用户是否有分享的意愿，提供给他们合适的分享内容，能让分享的效果更好。用户主动点击分享 绝...</p>
            </div>
            <!-- 日程 -->
            <div class="content" style="display:none">
                <ul class="date-list">
                    <li class="flex active">
                        <div class="date">2019-12-24</div>
                        <div class="date-content">年终探校开放日年终探校开放日年终探校开放日年终探校开放日年终探校开放日年终探校开放日年终探校开放日年终探校开放日年终探校开放日</div>
                    </li>
                    <li class="flex">
                        <div class="date">2019-12-24</div>
                        <div class="date-content">年终探校开放日</div>
                    </li>
                    <li class="flex">
                        <div class="date">2019-12-24</div>
                        <div class="date-content">年终探校开放日</div>
                    </li>
                </ul>
            </div>
            <!-- 对口学校 -->
            <div class="content" style="display: none;">
                <div class="school">
                    <ul class="school-list">
                        <li>
                            <a>
                                <div class="name">广州市真光中学--初中部</div>
                                <p class="address"><i class="iconfont icon-map"></i>广州市培真路58号</p>
                                <i class="arrow"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="name">广州市培英中学--初中部</div>
                                <p class="address"><i class="iconfont icon-map"></i>广州市培真路58号</p>
                                <i class="arrow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="cancel text-center">取消</a>
    </section>

    @*伙食情况弹出框内容*@
    <div class="CanteenContent" style="display:none">
        @Html.Raw(StrHelper.GetHtmlText(Model.Meal))
    </div>

    @*开放日弹出框内容*@
    <div class="OpenHourContent" style="display:none">
        <ul class="date-list">
            @foreach (var item in (List<KeyValueDto<DateTime?>>)ViewBag.OpenHours)
            {
                //时间排序
                if (item.Value != null && (DateTime.Now.Subtract(item.Value.Value)).Days >= 0)
                {
                    <li class="flex">
                        <div class="date">@item.Value?.ToString("yyyy年MM月dd日")</div>
                        <div class="date-content">@item.Key</div>
                    </li>
                }
                else
                {
                    <li class="flex active">
                        <div class="date">@item.Value?.ToString("yyyy年MM月dd日")</div>
                        <div class="date-content">@item.Key</div>
                    </li>
                }
            }
        </ul>
    </div>

    @*行事日历弹出框内容*@
    <div class="CalendarContent" style="display:none">
        <ul class="date-list">
            @foreach (var item in (List<KeyValueDto<DateTime?>>)ViewBag.Calendar)
            {
                //时间排序未来在右面
                if (item.Value != null && (DateTime.Now.Subtract(item.Value.Value)).Days >= 0)
                {
                    <li class="flex">
                        <div class="date">@item.Value?.ToString("yyyy年MM月dd日")</div>
                        <div class="date-content">@item.Key</div>
                    </li>
                }
                else
                {
                    <li class="flex active">
                        <div class="date">@item.Value?.ToString("yyyy年MM月dd日")</div>
                        <div class="date-content">@item.Key</div>
                    </li>
                }
            }
        </ul>
    </div>

    @*课后管理弹出框内容*@
    <div class="AfterClassContent" style="display:none">
        @Html.Raw(StrHelper.GetHtmlText(Model.AfterClass))
    </div>

    @*对口学校弹出框内容*@
    <div class="CounterPartContent" style="display:none">
        <div class="school">
            <ul class="school-list">
                @foreach (var item in (List<KeyValueDto<Guid>>)ViewBag.CounterPart)
                {
                    <li>
                        <a href="@Url.Action("Detail","school",new {id=item.Value.ToString("N") })">
                            <div class="name">
                                @item.Key
                            </div>
                            <p class="address"><i class="iconfont icon-map"></i>@item.Message</p>
                            <i class="arrow"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- 地图 -->
    <div id="container" class="map"></div>

    <input type="hidden" id="Latitude" value="@Model.Latitude" />
    <input type="hidden" id="Longitude" value="@Model.Longitude" />
    <input type="hidden" id="extID" value="@ViewBag.ExtID" />
    <input type="hidden" id="Build" value="@ViewBag.Build" />
    @if (ViewBag.Score == null)
    {
        <input type="hidden" value="" class="grade">
    }
    else
    {
        var score = (List<SchoolExtScore>)ViewBag.Score;
        var index = (List<SchoolExtScoreIndex>)ViewBag.ScoreIndex;
        <input type="hidden" data-grade='@(Html.Raw(PMS.School.Infrastructure.Common.JsonHelper.ObjectToJSON(index.Where(p=>p.Level==1).Select(p=>new {name=p.Index_Name,score= score.FirstOrDefault(s => s.IndexId == p.Id)?.Score ?? 0 }))))' class="grade">
    }
    <input type="hidden" value="@Model.ExtId" class="dataId">
    <input type="hidden" value="1" class="dataType">


    <!-- 头部其他内容按钮 -->
    <div class="popup-other text-center">
        <ul>
            <li class="correct"><a href="@Url.Action("SchCorrection","Home",new {eid=Model.ExtId })">纠错</a></li>
            <li class="cancel"><a>取消</a></li>
        </ul>
    </div>
</body>
</html>
<script src="@ViewBag.StaticFile/js/jquery-3.4.0.min.js"></script>
<script src="@ViewBag.StaticFile/js/swiper.min.js"></script>
<script src="@ViewBag.StaticFile/js/echarts.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=61ce686ba30069e6801cda4be2f719a2"></script>
<script src="@ViewBag.StaticFile/js/layout-common.js"></script>
<script src="@ViewBag.StaticFile/js/school-more-msg.js"></script>
<script src="@ViewBag.StaticFile/js/collection.js"></script>
<script type="text/javascript">

    jQuery(function () {
        //动态显示展开标识(箭头)
        let cells = $('.flex .common-popup .content-cell');
        cells.map((index,value)=>{
            let contentWidth = $(value).outerWidth();
            let titleWidth = $($('.flex .common-popup .list-title')[index]).outerWidth();
            let textWidth = $($('.flex .common-popup .common-popup-text')[index]).outerWidth();
            let maxWidth = contentWidth-titleWidth;
            if(textWidth>=maxWidth){
               $($('.flex .common-popup .arrow')[index]).css({
                   display:'block'
               })
                $($('.flex .common-popup')[index]).attr("data-notdata", "0");
            }else{
                $($('.flex .common-popup .arrow')[index]).css({
                    display:'none'
                })
                $($('.flex .common-popup')[index]).attr("data-notdata","1");
            }
        })

        @*// 检测是否收藏
        $.isCollection("@Model.ExtId", "");*@
        //点击收藏
        jQuery(".header .btn-list a:first-child").on("click", function () {
            // 收藏
            $.collection("@Model.ExtId", 1, "");
        });
        //通用布幕
        jQuery(".common-popup").on("click", function () {
            var title = $(this).attr("title");
            var text = $(this).attr("data");
            var html = '';
            try {
                var obj = JSON.parse(text);
                if (typeof obj == 'object' && obj) {
                    html = '<ul> '
                    for (var i = 0; i < obj.length; i++) {
                        html += '<li class="flex justify-content-between">'+obj[i].Key+'<span>'+obj[i].Value+'</span></li> ';
                    }
                    html += '</ul> ';
                }
            } catch (e) {
                 html = '<pre>' + text + '</pre>';
            }
            jQuery(".popup .title").html(title);
            jQuery(".popup  .content").html(html);
        });
        //弹出框操作
        //伙食情况
        jQuery(".canteen").on("click", function () {
            //伙食情况
            var content = jQuery(".CanteenContent").html();
            jQuery(".popup .content").html(content);
            jQuery(".popup .title").html("伙食情况");
        });
        //探校活动及开放日
        jQuery(".school-day").on("click", function () {
            var content = jQuery(".OpenHourContent").html();
            jQuery(".popup .content").html(content);
        });
        //学校行事日历
        jQuery(".school-day-2").on("click", function () {
            var content = jQuery(".CalendarContent").html();
            jQuery(".popup .content").html(content);
        });


        //课后管理
        jQuery(".manage a").on("click", function () {
            //课后管理
            var content = jQuery(".AfterClassContent").html();
            jQuery(".popup .content").html(content);
            jQuery(".popup .text-center").html("课后管理");
        });
        //对口学校
        jQuery(".school .total").on("click", function () {
            //对口学校
            var content = jQuery(".CounterPartContent").html();
            jQuery(".popup .content").html(content);
            jQuery(".popup .text-center").html("对口学校");
        });
    });

    let self = this;
    $(function () {

			// 检测是否收藏
			$.isCollection(dataId, '');

			$('.btn-list a:first-child').on('click', function () {
				// 收藏
				$.collection(dataID, dataType, '');
			});
		})
</script>
