@using Sxb.Web.Models.Replay;
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta name="applicable-device" content="mobile">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    
    <title>回复详情-上学帮</title>
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/replyAlter.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/common.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/comment-list.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/school-comment.css">
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/reply-detail.css">
    <script>
        var user = "@ViewBag.UserServiceUrl"
    </script>
</head>
<body style="font-size:16px;">
    <header class="header flex justify-content-between">
        <a class="arrow"></a>
        <span class="header-title">回复详情</span>
        <span class="btn"></span>
    </header>

    <section class="mt reply-detail">
        <input type="hidden" id="currentReply" data-replyType="@ViewBag.Type" data-datascoure="@ViewBag.DatascoureId" />
        <div class="comment-list">
            <div class="list-header flex justify-content-between">
                <div class="user-msg flex">
                    <div class="head login-head">
                        <div class="headimager"><img src="@ViewBag.replyDetail.UserInfo?.HeadImager" alt=""></div>
                        @if (ViewBag.replyDetail.UserInfo.IsSchool)
                        {
                            <i class="icon school"></i>
                        }
                        else if (ViewBag.replyDetail.UserInfo.IsTalent)
                        {
                            if (ViewBag.replyDetail.UserInfo.Role.Contains(1))
                            {
                                <i class="icon"></i>
                            }
                            else if (ViewBag.replyDetail.UserInfo.Role.Contains(2))
                            {
                                <i class="icon talent"></i>
                            }
                        }
                    </div>
                    <div>
                        <div>
                            <span class="name" name="@ViewBag.replyDetail.UserInfo.NickName">
                                @ViewBag.replyDetail.UserInfo?.NickName
                                @if (@ViewBag.replyDetail.IsAttend)
                                {
                                    <i class="identity">过来人</i>
                                }
                            </span>
                        </div>
                        <div class="reply-time">@ViewBag.replyDetail.CreateTime</div>
                    </div>
                </div>
                <div class="other flex">
                    @if (@ViewBag.replyDetail.RumorRefuting)
                    {
                        <i class="icon"></i>
                    }
                    <div class="other-list-btn text-center" data-id="@ViewBag.replyDetail.Id" data-datascoureid="@ViewBag.replyDetail.DatascoureId" data-replyid="@ViewBag.replyDetail.Id" data-type="@(ViewBag.Type == 1?1: 2)" data-report="5">
                        <div class="flex">
                            <i class="round"></i>
                            <i class="round"></i>
                            <i class="round"></i>
                        </div>
                    </div>
                </div>
            </div>
            <p class="content">@ViewBag.replyDetail.Content</p>
            <div class="comment-msg flex justify-content-between">
                <div></div>
                <div class="ctr">
                    @if (@ViewBag.replyDetail.IsLike)
                    {
                        <span data-replyid="@ViewBag.replyDetail.Id" class="like click-like ">
                            <i class="icon"></i>
                            <span>@ViewBag.replyDetail.LikeCount</span>
                        </span>
                    }
                    else
                    {
                        <span data-replyid="@ViewBag.replyDetail.Id" class="like">
                            <i class="icon"></i>
                            <span>@ViewBag.replyDetail.LikeCount</span>
                        </span>
                    }
                </div>
            </div>
        </div>
    </section>

    @*if (((List<ReplyViewModel>)ViewBag.replyHottest).Count() != 0)
        {
            <section class="all-comment">
                <div class="title">
                    <h5>热门回复</h5>
                </div>
                <ul class="comment-list">
                    @foreach (ReplyViewModel item in ViewBag.replyHottest)
                    {
                        <li>
                            <div class="list-header flex justify-content-between">
                                <div class="user-msg flex">
                                    ';
                                    <div class="head login-head">
                                        ';

                                        <div class="headimager"><img src="@item.UserInfo.HeadImager" alt=""></div>
                                        @if (item.UserInfo.IsSchool && item.UserInfo.IsDaren)
                                        {
                                            <i class="icon"></i><i class="icon school"></i>
                                        }
                                        else if (item.UserInfo.IsSchool)
                                        {
                                            <i class="icon school"></i>
                                        }
                                        else if (item.UserInfo.IsDaren)
                                        {
                                            <i class="icon school"></i>
                                        }
                                    </div>
                                    <div>
                                        <div>
                                            <span class="name" name="@item.UserInfo.NickName">
                                                @item.UserInfo.NickName
                                                @if (item.IsAttend)
                                                {
                                                    <i class="identity">过来人</i>
                                                }
                                            </span>
                                        </div>
                                        <div class="reply-time">@item.CreateTime</div>
                                    </div>
                                </div>
                                <div class="other flex">
                                    @if (item.RumorRefuting)
                                    {
                                        <i class="icon"></i>
                                    }

                                    @{
                                        int datatype = ViewBag.Type == 1 ? 3 : 4;
                                    }
                                    <div class="other-list-btn text-center" data-datascoureid="@item.DatascoureId" data-replyid="@item.Id" data-type="@datatype">
                                        <div class="flex"><i class="round"></i><i class="round"></i><i class="round"></i></div>
                                    </div>
                                </div>
                            </div>
                            <p class="content">@item.Content</p>
                            <div class="comment-msg flex justify-content-between">
                                <div></div>
                                <div class="ctr">
                                    @if (item.IsLike)
                                    {
                                        <span data-replyid="@item.Id" class="like click-like"><i class="icon"></i><span>@item.LikeCount</span></span>
                                    }
                                    else
                                    {
                                        <span data-replyid="@item.Id" class="like"><i class="icon"></i><span>@item.LikeCount</span></span>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </section>
        }*@

    <section id="newAllCommentReply" class="all-comment">
        <div class="title">
            <h5>全部回复@*<span>智能排序<i></i></span>*@</h5>
            @*<ul class="sort">
                    <li data-ordertype="0" class="active"><span>智能排序</span><i></i></li>
                    <li data-ordertype="1"><span>时间排序</span><i></i></li>
                </ul>*@
        </div>
        <div class="not-comment text-center" style="display:none">
            <div><i class="icon"></i></div>
            <p>暂无评论，快来抢沙发</p>
            <a href="/Wechat?type=@(ViewBag.Type==1?2:4)&SchoolId=@ViewBag.replyDetail.SchoolSectionId&DataSource=@ViewBag.replyDetail.Id&isReplyDetail=true" class="invite"><span><i class="arrow"></i></span>邀请大家来回复</a>
        </div>
        <ul class="comment-list"></ul>
        <div style="display:none;" class="load-more text-center">正在努力加载</div>
        <div style="display:none;" class="not-more-data">没有更多数据</div>
    </section>

    <section class="popup-box">
        <ul class="text-center">
            <li class="reply-btn"><a>回复</a></li>
            <li class="seeReply"><a href="">查看对话</a></li>
            <li class="complaint"><a href="/Report">举报</a></li>
            <li class="cancel"><a>取消</a></li>
        </ul>
    </section>

    <section class="reply-box">
        <div class="flex justify-content-between btn-list">
            <span class="cancel">取消</span>
            <div>
                @if (ViewBag.IsSchoolRole)
                {
                    <span id="Rumor" class="btn"><i class="round"></i>学校辟谣</span><!-- 其他用户则改成"在读" -->
                }
                else
                {
                    <span id="Student" class="btn"><i class="round"></i>在读</span>
                }
                <span id="anonymous" class="btn"><i class="round"></i>匿名</span>
                <span class="submit-reply">发布</span>
            </div>
        </div>
        <textarea name="" id="reply" cols="30" rows="8" placeholder="回复楼主:"></textarea>
    </section>
    <div class="curtain"></div>

    <div class="WarningBox">
        <i class="warning-i"></i>
        <span class="content">您发布的内容包含敏感词，<br>请重新编辑后再发布。</span>
        <a class="btn">确认</a>
        <a class="btn" style="display:none;" href="#">绑定手机</a>
    </div>

    <script>
    var type = @ViewBag.Type
    </script>
    <script src="@ViewBag.StaticFile/js/jquery-3.4.0.min.js"></script>
    <script src="@ViewBag.StaticFile/js/loading.js"></script>
    <script src="@ViewBag.StaticFile/js/layout-common.js"></script>
    <script src="@ViewBag.StaticFile/js/reply-common.js"></script>
    <script src="@ViewBag.StaticFile/js/reply-detail.js"></script>

</body>
</html>
