@using PMS.School.Domain.Dtos;
@using PMS.School.Domain.Common;
@using PMS.School.Infrastructure.Common;
@using Sxb.Web.Models.Comment
@using Sxb.Web.Models.Question
@{
    Layout = null;
}
@model PMS.School.Domain.Dtos.SchoolExtSimpleDto
<!doctype html>
<html lang="en">
<head>
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
    <title>school-detail</title>
    <link href="@ViewBag.StaticFile/css/achievement-msg.css" rel="stylesheet" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/swiper.min.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/common.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/iconfont.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/comment-list.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/qa-list.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/school-detail.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/replyAlter.css" />
    <script type="text/javascript">
        var designWidth = 750;
        if (window.innerWidth < designWidth) {
            document.getElementsByTagName('html').item(0).style.fontSize = parseInt(window.innerWidth / designWidth * 100, 10) + 'px';
        }
    </script>
</head>
<body>
    <header class="header flex justify-content-between">
        <a class="arrow"></a>
        <span class="header-title" style="display: none;">@Model.SchoolName - @Model.ExtName</span>
        <span class=""></span>
        <span class="btn-list flex">
            @if (ViewBag.CollectStatus == true)
            {
                <a class="header-icon collection"></a>
            }
            else
            {
                <a class="header-icon "></a>
            }

            <a class="header-icon share" data-title="@($"{ViewBag.UserName}向您推荐了一所学校快来了解一下呗")" data-content="@($"{Model.SchoolName}-{Model.ExtName}")" data-url="@Url.Action("Detail", "School", new { extId = Model.ExtId, sid = Model.Sid })" data-logo="@Uri.EscapeDataString("https://cdn.sxkid.com/images/logo_share_v4.png")"></a>
            <a class="other">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </span>
    </header>

    @*<div class="map-select">
            <i></i>
            <ul class="flex text-center">
                <li class="active"><a >划片区域</a></li>
                <li><a >附近楼盘</a></li>
            </ul>
        </div>*@

    <section class="school-detail">

        <div>
            <div class="school-name">
                <h5>@Model.Name</h5>
                <p class="english-name">@Model.EName</p>
                <ul class="flex school-tag-list">
                    <li>
                        @(new iSchool.SchFType0(Model.Grade, Model.Type, Model.Discount, Model.Diglossia, Model.Chinese).GetDesc())
                    </li>
                    @foreach (var item in Model.Tags)
                    {
                        <li>@item</li>
                    }
                    @*<li>国际</li>
                        <li>省一级</li>
                        <li>WASC</li>*@
                </ul>
            </div>

            @if (Model.Type != (byte)SchoolType.Other)
            {
                <div class="school-msg">
                    <ul class="flex justify-content-between msg">
                        <li>
                            <span class="title">学年总费用</span><br />
                            <span>
                                @if ((
(Model.Grade == (byte)SchoolGrade.Kindergarten && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.PrimarySchool && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Type == (byte)SchoolType.Public)
))
                                {
                                    //公办学校
                                    @:-

                                }
                                else if (Model.Tuition == null)
                                {
                                    @:<span class="not-data">暂未收录</span>
                                }
                                else
                                {
                                    @:<i>@(Model.Tuition >= 10000 ? Math.Round((decimal)(Model.Tuition / 10000), 2) + "万" : Model.Tuition.ToString())</i>元/年
                                }
                            </span>
                        </li>

                        <li>
                            <span class="title">学校总评</span><br />
                            <span>
                                @if (ViewBag.Character == null)
                                {
                                    @:<span class="not-data">暂无评分</span>
                                }
                                else
                                {
                                    @:<i>@(((SchoolExtCharacterDto)ViewBag.Character).TotalScore)</i>分
                                }
                            </span>
                        </li>
                        <li>
                            <span class="title">距离</span><br />
                            <span>
                                @if (Model.Distance != 999999999)
                                {
                                    @:<i>@Math.Round((decimal)(Model.Distance / 1000))</i>km
                                }
                                else
                                {
                                    @:<span class="not-data">暂未收录</span>
                                }
                            </span>
                        </li>
                    </ul>
                    <div class="other-list">
                        <ul class="justify-content-between flex">
                            <li>
                                <span class="title">走读/寄宿：</span>
                                <span>
                                    @{
                                        var lodgingType = LodgingUtil.Reason(Model.Lodging, Model.Sdextern);
                                        var lodgingDesc = ProductManagement.Framework.Foundation.EnumExtension.Description(lodgingType);
                                    }
                                    @if (!string.IsNullOrWhiteSpace(lodgingDesc))
                                    {
                                        @lodgingDesc
                                    }
                                </span>
                            </li>
                            <li>
                                <span class="title">有无饭堂：</span>
                                <span>
                                    @if (Model.Canteen == true)
                                    {
                                        @:有
                                    }
                                    else if (Model.Canteen == false)
                                    {
                                        @:无
                                    }
                                    else
                                    {
                                        @:暂未收录
                                    }
                                </span>
                            </li>
                            <li>
                                <span class="title">学生人数：</span>
                                <span>@(Model.Studentcount == null ? "暂未收录" : Model.Studentcount.ToString())</span>
                            </li>
                            @if ((Model.Type == (byte)SchoolType.International && Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool) ||
(Model.Diglossia == true && Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool) ||
(Model.Chinese == false && Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool) ||
(Model.Chinese == false && Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool) ||
(Model.Diglossia == true && Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool) ||
(Model.Chinese == false && Model.Grade == (byte)SchoolGrade.PrimarySchool) ||
(Model.Diglossia == true && Model.Grade == (byte)SchoolGrade.PrimarySchool) ||
(Model.Type == (byte)SchoolType.International) && Model.Grade == (byte)SchoolGrade.Kindergarten)
                            {

                                <li>
                                    <span class="title">外教占比：</span>
                                    <span>
                                        @(Model.ForeignTea == null ? "暂未收录" : ViewBag.Numerator == 0 ? "-" : $"{ViewBag.Numerator} : {ViewBag.Denominator}")
                                    </span>
                                </li>

                            }
                        </ul>
                        <ul>
                            @if ((Model.Type == (byte)SchoolType.International && Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool) ||
(Model.Diglossia == true && Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool) ||
(Model.Chinese == false && Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool) ||
(Model.Chinese == false && Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool) ||
(Model.Diglossia == true && Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool) ||
(Model.Chinese == false && Model.Grade == (byte)SchoolGrade.PrimarySchool) ||
(Model.Diglossia == true && Model.Grade == (byte)SchoolGrade.PrimarySchool) ||
(Model.Type == (byte)SchoolType.International) && Model.Grade == (byte)SchoolGrade.Kindergarten)
                            {

                                <li>
                                    <span class="title">出国方向：</span>
                                    <span>
                                        @if (Model.Abroad.Count() > 0)
                                        {
                                            @(string.Join("、", ((List<KeyValueDto<string>>)Model.Abroad).Select(p => p.Key)))
                                        }
                                        else
                                        {
                                            @:暂未收录
                                        }
                                    </span>
                                </li>
                            }
                            <li>
                                <span class="title">师生比：</span>
                                <span>
                                    @if (Model.Studentcount != null && Model.Teachercount != null && Model.Studentcount != 0)
                                    {
                                        @Html.Raw(ViewBag.TeaProportion)
                                    }
                                    else
                                    {
                                        @:暂未收录
                                    }
                                </span>
                            </li>
                        </ul>
                    </div>

                    <!-- 对口学校 -->
                    <div class="school">
                        @if (Model.Type == (byte)SchoolType.Public && Model.Grade == (byte)SchoolGrade.PrimarySchool)
                        {
                            @if (((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count > 0)
                            {
                                <h6>对口学校：<a class="total">共@(((List<KeyValueDto<Guid>>)ViewBag.CounterPart).Count)所<i class="arrow"></i></a></h6>
                                <ul class="school-list">
                                    @foreach (var item in (List<KeyValueDto<Guid>>)ViewBag.CounterPart)
                                    {
                                        <li>
                                            <a>
                                                <div class="name">@item.Key</div>
                                                <p class="address"><i class="iconfont icon-map"></i>@item.Message</p>
                                                <i class="arrow"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        }
                        @if (Model.Grade == (byte)SchoolGrade.PrimarySchool && !string.IsNullOrEmpty(Model.AfterClass))
                        {
                            @if (string.IsNullOrEmpty(Model.AfterClass))
                            {
                                <a class="manage">
                                    <p><span>课后管理：</span>@Model.AfterClass</p>
                                    <i class="arrow"></i>
                                </a>
                            }
                        }

                    </div>
                    <div class="text-center more">展开></div>
                    <a href="@Url.Action("Data",new {extId=ViewBag.ExtId,sid=ViewBag.Sid })" class="text-center more-school-msg">更多学校信息></a>
                </div>
            }
        </div>

        <div class="parent-comment">
            @if (ViewBag.SelectedComment != null)
            {
                CommentList commentDto = (CommentList)ViewBag.SelectedComment;

                <div class="title">
                    <h5>家长点评<a href="/SchoolComment/Index?SchoolId=@(Model.ExtId)" class="more-comment">更多点评<i class="arrow"></i></a></h5>
                    <div class="flex">
                        <ul class="flex star-list">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (commentDto.StartTotal >= i)
                                {
                                    <li class="score-star"><i class="icon"></i></li>
                                }
                                else
                                {
                                    <li><i class="icon"></i></li>
                                }
                            }
                        </ul>
                        <div class="num">@((int)commentDto.StartTotal)星</div>
                    </div>
                    @if (commentDto.Score.IsAttend)
                    {
                        <ul class="flex justify-content-between num-list">
                            <li>师资<span>@((int)commentDto.Score.TeachScore / 2 / 10)星</span></li>
                            <li>硬件<span>@((int)commentDto.Score.HardScore / 2 / 10)星</span></li>
                            <li>环境<span>@((int)commentDto.Score.EnvirScore / 2 / 10)星</span></li>
                            <li>校风<span>@((int)commentDto.Score.LifeScore / 2 / 10)星</span></li>
                            <li>生活<span>@((int)commentDto.Score.ManageScore / 2 / 10)星</span></li>
                        </ul>
                    }
                </div>
                <div class="comment-list">
                    <div class="list-header flex justify-content-between">
                        <div class="user-msg flex">
                            <div class="head">
                                <div><img src="@commentDto.UserInfo.HeadImager" alt="" /></div>
                                <i class="icon"></i>
                            </div>
                            <span class="name">
                                @commentDto.UserInfo.NickName
                                @if (commentDto.Score.IsAttend)
                                {
                                    <i class="identity">过来人</i>
                                }
                            </span>
                        </div>
                        <div class="other flex">
                            <i></i>
                            <div class="other-list-btn text-center" data-id="@commentDto.Id" data-type="1">
                                <div class="flex">
                                    <i class="round"></i>
                                    <i class="round"></i>
                                    <i class="round"></i>
                                </div>
                                @if (commentDto.IsSelected)
                                {
                                    <span>精华</span>
                                }
                            </div>
                        </div>
                    </div>
                    <a href="/SchoolComment/CommentDetail?CommentId=@(commentDto.Id)">
                        <p class="content">@commentDto.Content</p>
                        @if (commentDto.Images.Count() > 0)
                        {
                            <div class="img-list">
                                <ul class="flex justify-content-between" id="imgList">
                                    @if (commentDto.Images.Count() > 2)
                                    {
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            <li><img src="@commentDto.Images[i]" alt="" /></li>
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < commentDto.Images.Count(); i++)
                                        {
                                            <li><img src="@commentDto.Images[i]" alt="" /></li>
                                        }
                                    }
                                </ul>
                                @if (@commentDto.Images.Count() > 3)
                                {
                                    <span class="text-center"><i class="icon"></i>@commentDto.Images.Count()</span>
                                }
                            </div>
                        }
                    </a>
                    <div class="comment-msg flex justify-content-between">
                        <div>
                            <span class="department">@Model.ExtName</span>
                            <span class="time">@commentDto.CreateTime</span>
                        </div>
                        <div class="ctr">
                            <span class="comment"><i class="icon"></i>@commentDto.ReplyCount</span>
                            @if (commentDto.IsLike)
                            {
                                <span data-type="1" data-id="@commentDto.Id" class="like click-like">
                                    <i class="icon"></i>
                                    <span>@commentDto.LikeCount</span>
                                </span>
                            }
                            else
                            {
                                <span data-type="1" data-id="@commentDto.Id" class="like">
                                    <i class="icon"></i>
                                    <span>@commentDto.LikeCount</span>
                                </span>
                            }
                        </div>
                    </div>
                </div>
                <a href="/CommentWriter/CommitCommentView?currentId=@Model.ExtId&SchoolId=@Model.Sid" class="writeComment text-center">我要点评</a>
            }
            else
            {
                <div style="border-bottom: none;" class="title">
                    <h5>家长点评</h5>
                </div>
                <!-- 如果没有评论 则显示出来 -->
                <div class="not-comment text-center">
                    <div><i class="icon"></i></div>
                    <p>暂无评论，快来抢沙发</p>
                    <a href="/Wechat?type=1&SchoolId=@Model.ExtId" class="invite">
                        <span><i class="arrow"></i></span>邀请大家来回复
                    </a>
                </div>
            }
        </div>

        <div class="school-qa">
            @if (ViewBag.SelectedQuestion != null)
            {
                QuestionVo questionDetail = (QuestionVo)ViewBag.SelectedQuestion;
                <div class="title">
                    <h5>学校问答<a href="/Question/Index?SchoolId=@Model.ExtId" class="more-qa">更多问答<i class="arrow"></i></a></h5>
                </div>
                <div class="qa-list">
                    <div class="question flex">
                        <div class="q-icon"><span>问</span></div>
                        <div>
                            <h5 class="question-title">@questionDetail.QuestionContent</h5>
                            <div class="img-list">
                                <ul class="flex justify-content-between" id="imgList">
                                    @if (questionDetail.Images.Count() > 2)
                                    {
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            <li><img src="@questionDetail.Images[i]" alt="" /></li>
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < questionDetail.Images.Count(); i++)
                                        {
                                            <li><img src="@questionDetail.Images[i]" alt="" /></li>
                                        }
                                    }
                                </ul>
                                @if (questionDetail.Images.Count() > 3)
                                {
                                    <span class="text-center"><i class="icon"></i>@questionDetail.Images.Count()</span>
                                }
                            </div>
                            <span class="department">@Model.ExtName</span>
                            <span class="time">@questionDetail.QuestionCreateTime</span>
                        </div>
                        <span class="other-list-btn flex round" data-id="@questionDetail.Id" data-type="3">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                    </div>
                    @if (questionDetail.AnswerCount > 0)
                    {
                        <div class="answer flex">
                            <div class="a-icon"><span>答</span></div>
                            <div>
                                <div class="user-msg flex">
                                    <div class="head">
                                        <div><img src="@questionDetail.Answer[0].UserInfo.HeadImager" alt="" /></div>
                                        <i class="icon school"></i>
                                    </div>
                                    <div>
                                        <div class="name">@questionDetail.Answer[0].UserInfo.NickName<i></i></div>
                                        <div class="time">@questionDetail.Answer[0].AddTime</div>
                                    </div>
                                </div>
                                <p class="content">@questionDetail.Answer[0].AnswerContent</p>
                                <div class="flex justify-content-between">
                                    <a href="/Question/QuestionDetail?QuestionId=@questionDetail.Id"><span class="reply-num">共@(questionDetail.AnswerCount)条回复></span></a>
                                    @if (questionDetail.Answer[0].IsLike)
                                    {
                                        <span class="like click-like" data-id="@questionDetail.Answer[0].Id" data-type="4">
                                            <i class="icon"></i>
                                            <span>@questionDetail.Answer[0].LikeCount</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="like" data-id="@questionDetail.Answer[0].Id" data-type="4">
                                            <i class="icon"></i>
                                            <span>@questionDetail.Answer[0].LikeCount</span>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <a href="/Question/CommentQuestionView?currentId=@Model.ExtId&SchoolId=@Model.Sid" class="writeQA text-center">我要提问</a>
            }
            else
            {
                <div class="title">
                    <h5>学校问答</h5>
                </div>
                <!-- 如果没有问答 则显示出来 -->
                <div class="not-qa text-center">
                    <div><i class="icon"></i></div>
                    <p>暂无问答，快来抢沙发</p>
                    <a href="/Wechat?type=3&SchoolId=@Model.ExtId" class="invite">
                        <span><i class="arrow"></i></span>邀请大家来提问
                    </a>
                </div>
            }
        </div>

        @if (Model.Type != (byte)SchoolType.Other)
        {
            @*升学成绩*@
            @if (Model.Grade != (byte)SchoolGrade.Kindergarten && (byte)SchoolType.SAR != Model.Type)
            {
                @if (Model.Grade == (byte)SchoolGrade.Kindergarten)
                {
                    @*幼儿园*@
                    @if (ViewBag.AchData != null)
                    {

                        <div class="achievement">
                            <div class="title">
                                <h5>升学成绩</h5>
                            </div>
                            @foreach (var item in (IEnumerable<KindergartenAchievement>)ViewBag.AchData)
                            {
                                <a href="@item.Link" class="link">
                                    <p><span>详细内容：</span>@item.Link</p>
                                    <i class="arrow"></i>
                                </a>
                            }
                        </div>
                    }
                }
                else if (Model.Grade == (byte)SchoolGrade.PrimarySchool &&
                    new byte[] { (byte)SchoolType.Public, (byte)SchoolType.Private }.Contains(Model.Type))
                {
                    @if (ViewBag.AchData != null)
                    {
                        @*民办/公办小学*@
                        <div class="achievement">
                            <div class="title">
                                <h5>升学成绩</h5>
                            </div>

                            @foreach (var item in (IEnumerable<PrimarySchoolAchievement>)ViewBag.AchData)
                            {
                                <a href="@item.Link" class="link">
                                    <p><span>详细内容：</span>@item.Link</p>
                                    <i class="arrow"></i>
                                </a>
                            }
                        </div>
                    }
                }
                else if (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool &&
                    Model.Type == (byte)SchoolType.International)
                {
                    @*国际初中*@
                    <div class="achievement">
                        <div class="title">
                            <h5>升学成绩</h5>
                        </div>

                        <p>上届学生毕业去向：</p>
                        <ul class="list">
                            @foreach (var item in Model.Achievement)
                            {
                                <li>@item.Value<span>@(item.Message)人</span></li>
                            }
                        </ul>
                        <a href="@Url.Action("ExtAchievement", "school", new { sid = ViewBag.Sid, extId = ViewBag.ExtId, grade = Model.Grade, type = Model.Type })" class="more-list text-center">更多毕业去向信息></a>
                    </div>
                }
                else if (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool &&
                    new byte[] { (byte)SchoolType.Public, (byte)SchoolType.Private }.Contains(Model.Type))
                {
                    @*民办/公办初中*@
                    <div class="achievement">
                        <div class="title">
                            <h5>升学成绩</h5>
                        </div>
                        <!-- 民办/公办初中则显示 -->
                        @{
                            var juniorMiddleSchool = ViewBag.AchData == null ? new MiddleSchoolAchievement() : (MiddleSchoolAchievement)ViewBag.AchData;
                        }
                        <ul class="achievement-data flex justify-content-between">
                            <li><span>重本率：</span>@(juniorMiddleSchool?.Keyrate != null ? juniorMiddleSchool.Keyrate + "%" : "暂未收录")</li>
                            <li><span>高优线录取比：</span>@(juniorMiddleSchool?.Ratio != null ? juniorMiddleSchool.Ratio + "%" : "暂未收录")</li>
                            <li><span>中考平均分：</span>@(juniorMiddleSchool?.Average != null ? juniorMiddleSchool.Average + "分" : "暂未收录")</li>
                            <li><span>当年最高分：</span>@(juniorMiddleSchool?.Highest != null ? juniorMiddleSchool.Highest + "分" : "暂未收录")</li>
                        </ul>
                        <p>上届学生毕业去向：</p>
                        <ul class="list">
                            @foreach (var item in Model.Achievement)
                            {
                                <li>@item.Value<span>@(item.Message)人</span></li>
                            }
                        </ul>
                        <a href="@Url.Action("ExtAchievement", "school", new { sid = ViewBag.Sid, extId = ViewBag.ExtId, grade = Model.Grade, type = Model.Type })" class="more-list text-center">更多毕业去向信息></a>
                    </div>
                }
                else if (Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool &&
                new byte[] { (byte)SchoolType.Public, (byte)SchoolType.Private }.Contains(Model.Type))
                {
                    @*民办/公办高中*@

                    <div class="achievement">
                        <div class="title">
                            <h5>升学成绩</h5>
                        </div>
                        @{
                            var hightSchoolAchievement = ViewBag.AchData == null ? new HighSchoolAchievement() : (HighSchoolAchievement)ViewBag.AchData;
                        }
                        <!-- 民办/公办高中则显示 -->
                        <ul class="achievement-data height-school flex justify-content-between">
                            <li><span>重本率：</span>@(hightSchoolAchievement?.Keyundergraduate != null ? hightSchoolAchievement.Keyundergraduate + "%" : "暂未收录")</li>
                            <li><span>本科率：</span>@(hightSchoolAchievement?.Undergraduate != null ? hightSchoolAchievement.Undergraduate + "%" : "暂未收录")</li>
                            <li><span>高优线录取人数：</span>@(hightSchoolAchievement?.Count != null ? hightSchoolAchievement.Count + "人" : "暂未收录")</li>
                        </ul>
                        <!-- 民办/公办初中则显示 -->
                        <!-- <ul class="achievement-data flex justify-content-between">
                            <li><span>重本率：</span>70%</li>
                            <li><span>高优线录取比例：</span>90%</li>
                            <li><span>中考平均分：</span>580分</li>
                            <li><span>当年最高分：</span>580分</li>
                        </ul> -->
                        <!-- 幼儿园则显示 -->
                        <!-- <a href="www.123456.com" class="link">
                            <p><span>详细内容：</span>www.123456.com</p>
                            <i class="arrow"></i>
                        </a> -->

                        <p>上届学生毕业去向：</p>
                        <ul class="list">
                            @foreach (var item in Model.Achievement)
                            {
                                <li>@item.Value<span>@(item.Message)人</span></li>
                            }
                            @*<li>剑桥大学<span>1人</span></li>
                                <li>牛津大学<span>2人</span></li>
                                <li>伦敦大学学院<span>74人</span></li>
                                <li>帝国理工<span>11人</span></li>
                                <li>芝加哥大学<span>3人</span></li>*@
                        </ul>
                        <a href="@Url.Action("ExtAchievement", "School",
                                new
                                {
                                    sid = ViewBag.Sid,
                                    extId = ViewBag.ExtId,
                                    grade = Model.Grade,
                                    type = Model.Type
                                })" class="more-list text-center">更多毕业去向信息></a>
                    </div>
                }
                else if (Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool &&
                    Model.Type == (byte)SchoolType.International)
                {
                    @*国际高中*@
                    <div class="achievement">
                        <div class="title">
                            <h5>升学成绩</h5>
                        </div>

                        <!-- 民办/公办高中则显示 -->
                        <!-- <ul class="achievement-data height-school flex justify-content-between">
                            <li><span>重本率：</span>70%</li>
                            <li><span>本科率：</span>90%</li>
                            <li><span>高优线录取人数：</span>400人</li>
                        </ul> -->
                        <!-- 民办/公办初中则显示 -->
                        <!-- <ul class="achievement-data flex justify-content-between">
                            <li><span>重本率：</span>70%</li>
                            <li><span>高优线录取比例：</span>90%</li>
                            <li><span>中考平均分：</span>580分</li>
                            <li><span>当年最高分：</span>580分</li>
                        </ul> -->
                        <!-- 幼儿园则显示 -->
                        <!-- <a href="www.123456.com" class="link">
                            <p><span>详细内容：</span>www.123456.com</p>
                            <i class="arrow"></i>
                        </a> -->

                        <p>上届学生毕业去向：</p>
                        <ul class="list">
                            @foreach (var item in Model.Achievement)
                            {
                                <li>@item.Value<span>@(item.Message)人</span></li>
                            }
                            @*<li>剑桥大学<span>1人</span></li>
                                <li>牛津大学<span>2人</span></li>
                                <li>伦敦大学学院<span>74人</span></li>
                                <li>帝国理工<span>11人</span></li>
                                <li>芝加哥大学<span>3人</span></li>*@
                        </ul>
                        <a href="@Url.Action("ExtAchievement", "School",
                                new
                                {
                                    sid = ViewBag.Sid,
                                    extId = ViewBag.ExtId,
                                    grade = Model.Grade,
                                    type = Model.Type
                                })" class="more-list text-center">更多毕业去向信息></a>
                    </div>
                }
            }


            @if (Model.Ranks.Count > 0)
            {
                <div class="school-rank">
                    <div class="title">
                        <h5>学校排行<a href="@Url.Action("list","schoolrank",new {schoolId=Model.ExtId })" class="more-rank">更多榜单<i class="arrow"></i></a></h5>
                    </div>
                    <ul class="rank-list">
                        @foreach (var item in Model.Ranks)
                        {
                            <li>@item.Title<span>第@(item.Ranking)名</span></li>
                        }
                        @*<li>2018剑桥中国区录取榜<span>第8名</span></li>
                            <li>2018胡润百学百强名单<span>第10名</span></li>*@
                    </ul>
                </div>
            }

            <div class="enrolment">
                <div class="title">
                    <h5>招生简章</h5>
                </div>
                <div class="submenu">
                    <h6>招生计划</h6>
                    <ul class="list-msg recruit-msg">
                        @if (!(Model.Grade == (byte)SchoolGrade.Kindergarten && Model.Type == (byte)SchoolType.Public))
                        {
                            <li>
                                招生年龄：<span>
                                    @if (Model.Age == null && Model.MaxAge != null)
                                    {
                                        @("0-" + Model.MaxAge)
                                    }
                                    else if (Model.Age != null && Model.MaxAge == null)
                                    {
                                        @(Model.MaxAge)
                                    }
                                    else if (Model.Age == null && Model.MaxAge == null)
                                    {
                                        @:暂未收录
                                    }
                                    else
                                    {
                                        @($"{Model.Age}-{Model.MaxAge}")
                                    }
                                </span>
                            </li>
                        }
                        <li>招生人数：<span>@(Model.Count == null ? "暂未收录" : Model.Count + "人")</span></li>
                        <li>
                            招生对象：
                            @if (Model.Target.Count > 0)
                            {
                                @foreach (var item in Model.Target)
                                {
                                    <i>@item.Key</i>
                                }
                                @*<i>全国统招初中生</i>*@
                            }
                            else
                            {
                                @:暂未收录
                            }
                        </li>
                        @if (!(Model.Type == (byte)SchoolType.Public || (Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool && Model.Type == (byte)SchoolType.Private)))
                        {
                            <li>
                                招生比例：
                                <span>@(Model.Proportion == null ? "暂无数据" : ViewBag.Proportion)</span>
                            </li>
                        }
                        @if (!(Model.Grade == (byte)SchoolGrade.Kindergarten
|| (Model.Grade == (byte)SchoolGrade.PrimarySchool && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Type == (byte)SchoolType.Public)))
                        {
                            <li>
                                录取分数线：
                                @if (Model.Point.Count > 0)
                                {
                                    @foreach (var item in Model.Point)
                                    {
                                        <div><span>@item.Key @(item.Value)分</span></div>
                                    }
                                }
                                else
                                {
                                    @:暂未收录
                                }
                                @*<span>广州普通考生</span><span>583分</span>*@
                            </li>
                        }
                    </ul>
                    <a href="@Url.Action("ExtRecruit","School",new{extId=ViewBag.ExtId,sid=ViewBag.Sid })" class="more-school-msg text-center">更多招生信息></a>
                </div>
                @if (Model.Courses.Count() > 0 || Model.CourseAuthentication.Count > 0 || !string.IsNullOrEmpty(Model.CourseCharacteristic))
                {

                    <div class="submenu">
                        <h6>课程体系</h6>
                        @if ((Model.Grade == (byte)SchoolGrade.Kindergarten && new byte?[] { (byte)SchoolType.International, (byte)SchoolType.Other }.Contains(Model.Type)) ||
(Model.Grade == (byte)SchoolGrade.PrimarySchool && Model.Type != (byte)SchoolType.Public) ||
(Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Type != (byte)SchoolType.Public) ||
(Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool && !new byte?[] { (byte)SchoolType.Private, (byte)SchoolType.Public }.Contains(Model.Type)))
                        {
                            <ul class="list-msg">
                                <li>
                                    课程设置：
                                    @if (Model.Courses.Count() > 0)
                                    {
                                        foreach (var item in Model.Courses)
                                        {
                                            <i>@item.Key</i>
                                        }
                                    }
                                    else
                                    {
                                        @:暂未收录
                                    }
                                    @*<i>IB</i>
                                        <i>A-LEVEI</i>*@
                                </li>
                                <li>
                                    课程认证：
                                    @if (Model.CourseAuthentication.Count > 0)
                                    {
                                        foreach (var item in Model.CourseAuthentication)
                                        {
                                            <i>@item.Key</i>
                                        }
                                    }
                                    else
                                    {
                                        @:暂未收录
                                    }
                                    @*<i>AP</i>
                                        <i>IB</i>
                                        <i>A-LEVEI</i>*@
                                </li>
                            </ul>
                        }

                        <a class="synopsis" data-notdata="@(string.IsNullOrEmpty(Model.CourseCharacteristic)?"1":"0")">
                            <p><span>课程简介：</span>@(!string.IsNullOrEmpty(Model.CourseCharacteristic) ? StrHelper.GetHtmlText(Model.CourseCharacteristic) : "暂未收录")</p>
                            @if (!string.IsNullOrEmpty(Model.CourseCharacteristic))
                            {
                                <i class="arrow"></i>
                            }
                        </a>

                    </div>
                }
                <div class="submenu tuition-box" style="border:none; padding:0;">
                    <h6>收费标准</h6>
                    <ul class="list-msg flex justify-content-between">
                        @if (!(
(Model.Grade == (byte)SchoolGrade.Kindergarten && (Model.Type == (byte)SchoolType.Public || Model.Type == (byte)SchoolType.Private))
|| (Model.Grade == (byte)SchoolGrade.PrimarySchool && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.SeniorMiddleSchool && (Model.Type == (byte)SchoolType.Public || Model.Type == (byte)SchoolType.Private))
))
                        {

                            <li>申请费用：<span class="tuition">@(Model.Applicationfee == null ? "暂未收录" : Model.Applicationfee + "元/学年")</span></li>
                        }
                        @if (!(
(Model.Grade == (byte)SchoolGrade.Kindergarten && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.PrimarySchool && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Type == (byte)SchoolType.Public)
))
                        {
                            <li>学费：<span class="tuition">@(Model.Tuition == null ? "暂未收录" : Model.Tuition + "元/学年")</span></li>
                        }
                    </ul>
                    @if (!(
(Model.Grade == (byte)SchoolGrade.PrimarySchool && Model.Type == (byte)SchoolType.Public)
|| (Model.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Type == (byte)SchoolType.Public)
))
                    {
                        @if (Model.Otherfee.Count > 0)
                        {
                            <a class="more-school-msg text-center price-msg" data-notdata="@(Model.Otherfee.Count > 0?"0":"1")">更多费用信息></a>
                        }
                    }

                </div>
            </div>


            @if (Model.InterviewVideos.Count > 0)
            {
                <div class="visit">
                    <div class="title">
                        <h5>学校专访<a href="@Url.Action("ExtVideos","School",new {extId=Model.ExtId })" class="more-rank">查看全部<i class="arrow"></i></a></h5>
                    </div>
                    <div class="video">
                        @if (Model.InterviewVideos.Count > 0)
                        {
                            <video src="@((Model.InterviewVideos.FirstOrDefault()).Value)" controls width="100%"></video>
                        }
                        else
                        {
                            @:暂未收录
                        }
                    </div>
                </div>
            }

            @if (((IEnumerable<PMS.OperationPlateform.Domain.Entitys.article>)ViewBag.ExtArticles).Count() > 0)
            {
                <div class="dynamic">
                    <div class="title">
                        <h5><a href="@Url.Action("ListSchoolDynamic","article",new {schoolId=Model.ExtId })">学校动态<i class="arrow"></i></a></h5>
                    </div>
                    <ul class="dynamic-list">
                        @foreach (var item in (IEnumerable<PMS.OperationPlateform.Domain.Entitys.article>)ViewBag.ExtArticles)
                        {
                            <li>
                                <a href="@Url.Action("detail","article",new {id=item.id })">
                                    <h6>
                                        @item.title
                                    </h6>
                                    <span class="date">@item.time.ToString()</span>
                                </a>
                            </li>

                        }
                    </ul>
                </div>
            }
            @if (((IEnumerable<PMS.OperationPlateform.Domain.Entitys.article>)ViewBag.PolicyArticles).Count() > 0)
            {
                <div class="policy">
                    <div class="title">
                        <h5>
                            <a href="@Url.Action("ListCreersPolicy","School",new {Type=Model.Type,SchoolGrade=Model.Grade,Discount=Model.Discount,Diglossia=Model.Diglossia,Chinese=Model.Chinese,ProvinceId=Model.Province,CityId=Model.City,AreaId=Model.Area })">升学政策<i class="arrow"></i></a>
                        </h5>
                    </div>
                    <ul class="policy-list">
                        @foreach (var item in (IEnumerable<PMS.OperationPlateform.Domain.Entitys.article>)ViewBag.PolicyArticles)
                        {
                            <li>
                                <a href="@Url.Action("detail","article",new {id=item.id })">
                                    <h6>
                                        @item.title
                                    </h6>
                                    <span class="date">@item.time.ToString()</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }


        <!-- D类学校 显示相关资讯 -->
        @if (Model.Type == (byte)SchoolType.Other)
        {
            <div class="other-msg">
                <div class="title">
                    <h5>相关资讯</h5>
                </div>
                <a class="wechat-msg text-center">微信内容信息</a>
                <div class="search-msg">
                    <div class="swiper-container">
                        <ul class="search-msg-list flex swiper-wrapper">
                            <li class="swiper-slide active">百度</li>
                            <li class="swiper-slide">知乎</li>
                            <li class="swiper-slide">搜狗</li>
                            <li class="swiper-slide">必应</li>
                            <li class="swiper-slide">360</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-msg-content">
                <input type="hidden" value="@Model.SchoolName">
                <div>
                    <iframe src="https://www.baidu.com/s?wd=@Model.SchoolName" class="baidu selected" frameborder="0" width="100%" height="1000"></iframe>
                </div>
            </div>

        }

        @if (((List<KeyValueDto<Guid>>)ViewBag.SchoolExts).Count(p => p.Value != Model.ExtId) > 0)
        {
            <div class="other-msg">
                <div class="title">
                    <h5>其它分部</h5>
                </div>
                <ul class="other-list">
                    @foreach (var item in ((List<KeyValueDto<Guid>>)ViewBag.SchoolExts).Where(p => p.Value != Model.ExtId))
                    {
                        <li>
                            <a href="@Url.Action("Detail",new {extId=item.Value,sid=Model.Sid })">@Model.SchoolName - @item.Key<i class="arrow"></i></a>
                        </li>
                    }
                    @*<li>
                            <a href="./school-detail.html">广州市执信中学 - 国际班<i class="arrow"></i></a>
                        </li>*@
                </ul>
            </div>
        }
        <div class="other-msg recommend">
            <div class="title">
                <h5>相关推荐</h5>
            </div>
            <ul class="other-list">
                @foreach (var item in (List<KeyValueDto<Guid, Guid, string, string>>)ViewBag.Recommend)
                {
                    <li>
                        <a href="@Url.Action("Detail",new {sid=item.Key,extid=item.Value })">@item.Message - @item.Data<i class="arrow"></i></a>
                    </li>
                }
            </ul>
        </div>
    </section>
    <section class="bottom-btn text-center">
        <div class="flex justify-content-between">
            <a href="/Question/CommentQuestionView?currentId=@Model.ExtId&SchoolId=@Model.Sid">提问</a>
            <a>探校</a>
        </div>
    </section>

    <section class="tab">
        <div class="swiper-container">
            <ul class="swiper-wrapper tab-list text-center">
                <li class="swiper-slide active">基本信息</li>
                <li class="swiper-slide">家长点评</li>
                <li class="swiper-slide">学校问答</li>
                @if (Model.Type != (byte)SchoolType.Other)
                {
                    @if (Model.Grade != (byte)SchoolGrade.Kindergarten && (byte)SchoolType.SAR != Model.Type)
                    {
                        @if (((Model.Grade == (byte)SchoolGrade.Kindergarten) ||
(Model.Grade == (byte)SchoolGrade.PrimarySchool &&
new byte[] { (byte)SchoolType.Public, (byte)SchoolType.Private }.Contains(Model.Type))
) && ViewBag.AchData == null)
                        { }
                        else
                        {
                            <li class="swiper-slide">升学成绩</li>
                        }
                    }
                    @if (Model.Ranks.Count > 0)
                    {
                        <li class="swiper-slide">学校排行</li>
                    }
                    <li class="swiper-slide">招生简章</li>
                    @if (Model.InterviewVideos.Count > 0)
                    {
                        <li class="swiper-slide">学校专访</li>
                    }
                    @if (((IEnumerable<PMS.OperationPlateform.Domain.Entitys.article>)ViewBag.ExtArticles).Count() > 0)
                    {
                        <li class="swiper-slide">学校动态</li>
                    }
                    @if (((IEnumerable<PMS.OperationPlateform.Domain.Entitys.article>)ViewBag.PolicyArticles).Count() > 0)
                    {
                        <li class="swiper-slide">升学政策</li>
                    }
                }
                @if (((List<KeyValueDto<Guid>>)ViewBag.SchoolExts).Count(p => p.Value != Model.ExtId) > 0)
                {
                    <li class="swiper-slide">其他分部</li>
                }
                <li class="swiper-slide">相关推荐</li>
            </ul>
        </div>
    </section>

    <!-- 弹窗 -->
    <section class="school-detail-popup">
        <div>
            <h5 class="title text-center">其它费用</h5><!-- 课程简介 -->
            <div class="content" style="display: none;">
                <!-- 学费 -->
                <ul>
                    @foreach (var item in Model.Otherfee)
                    {
                        <li class="flex justify-content-between">
                            <span>@item.Key</span>
                            <span class="price">@(item.Value)元</span>
                        </li>
                    }

                    @*
                        <li class="flex justify-content-between">
                            <span>校服费</span>
                            <span class="price">500元</span>
                        </li>
                    *@
                </ul>
            </div>
            <div class="content">
                <p>分享时机，在不同的时机分析用户是否有分享的意愿，提供给他们合适的分享内容，能让分享的效果更好。用户主动点击分享 绝...分享时机，在不同的时机分析用户是否有分享的意愿，提供给他们合适的分享内容，能让分享的效果更好。用户主动点击分享 绝...分享时机，在不同的时机分析用户是否有分享的意愿，提供给他们合适的分享内容，能让分享的效果更好。用户主动点击分享 绝...</p>
            </div>
        </div>
        <a class="cancel text-center">取消</a>
    </section>

    <!-- 幕布 -->
    <div class="curtain"></div>

    <section class="popup-box">
        <ul class="text-center">
            <li class="reply-btn"><a>回复</a></li>
            <li class="complaint"><a href="../comment-and-qa/complaint.html">举报</a></li>
            <li class="cancel"><a>取消</a></li>
        </ul>
    </section>

    @*回复框*@
    <section class="reply-box" style="padding: 4pt 14pt;">
        <div class="flex justify-content-between btn-list">
            <span class="cancel">取消</span>
            <div>
                @if (ViewBag.isSchoolRole)
                {
                    <span id="Rumor" class="btn"><i class="round"></i>学校辟谣</span><!-- 其他用户则改成"在读" -->
                }
                else
                {
                    <span id="Student" class="btn"><i class="round"></i>在读</span>
                }
                <span id="anonymous" class="btn"><i class="round"></i>匿名</span>
                <span class="submit-reply">发布</span>
            </div>
        </div>
        <textarea name="" id="reply" cols="30" rows="8" placeholder="回复楼主:"></textarea>
    </section>

    <!-- 地图 -->
    <div id="container" class="map"></div>
    <!-- 未收录的时候显示 -->
    <div class="not-included text-center" style="display: none;">暂未收录周边位置信息</div>


    @*其他收费弹窗内容*@
    <div id="OtherFeeContent" style="display:none">
        <ul>
            @foreach (var item in Model.Otherfee)
            {
                <li class="flex justify-content-between">
                    <span>@item.Key</span>
                    <span class="price">@(item.Value)元</span>
                </li>
            }

            @*<li class="flex justify-content-between">
                    <span>校服费</span>
                    <span class="price">500元</span>
                </li>*@
        </ul>
    </div>

    @*课程简介弹窗内容*@
    <div id="CourseCharacteristicContent" style="display:none">
        @if (!string.IsNullOrEmpty(Model.CourseCharacteristic))
        {
            @Html.Raw(Model.CourseCharacteristic)
        }
        else
        {
            @:暂未收录
        }
    </div>

    @*课后管理弹窗内容*@
    <div id="AfterClassContent" style="display:none">
        @if (!string.IsNullOrEmpty(Model.AfterClass))
        {
            @Html.Raw(Model.AfterClass)
        }
        else
        {
            @:暂未收录
        }
    </div>

    <!-- 头部其他内容按钮 -->
    <div class="popup-other text-center">
        <ul>
            <li class="correct"><a href="@Url.Action("SchCorrection","Home",new {eid=Model.ExtId })">纠错</a></li>
            <li class="cancel"><a>取消</a></li>
        </ul>
    </div>
    @*隐藏input*@
    <input type="hidden" id="Latitude" value="@Model.Latitude" />
    <input type="hidden" id="Longitude" value="@Model.Longitude" />
    @*<input type="hidden" id="Range" value="@Model.Range" />*@
    <input type="hidden" id="Range" value="" />
    <input type="hidden" id="Build" value="@ViewBag.Build" />
    <input type="hidden" value="100, 80, 60, 50, 40" class="grade">
    <input type="hidden" value="@Model.ExtId" class="dataId">
    <input type="hidden" value="1" class="dataType">
</body>
</html>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=61ce686ba30069e6801cda4be2f719a2"></script>
<script src="@ViewBag.StaticFile/js/jquery-3.4.0.min.js"></script>
<script src="@ViewBag.StaticFile/js/loading.js"></script>
<script src="@ViewBag.StaticFile/js/viewer.min.js"></script>
<script src="@ViewBag.StaticFile/js/swiper.min.js"></script>
<script src="@ViewBag.StaticFile/js/layout-common.js"></script>
<script src="@ViewBag.StaticFile/js/school-detail.js"></script>
<script src="@ViewBag.StaticFile/js/collection.js"></script>
<script type="text/javascript">
    var currentType = 0
    jQuery(function () {

        var isSchool = "";

         if ($.isAPP)
         {
            isSchool = "ischool://web?url=";
         }

        //点评写完后直接退出页
        sessionStorage.setItem("CommentEntrance", document.location.href)
        //写完回答之后退出
        sessionStorage.setItem("QuestionEntrance", document.location.href)

        @*// 检测是否收藏
        $.isCollection("@Model.ExtId", "");*@

        //点击收藏
        jQuery(".header .btn-list a:first-child").on("click", function () {
            // 收藏
            $.collection("@Model.ExtId", 2, "");
        });


        //课程简介
        jQuery(".enrolment .synopsis").on("click", function () {
            console.log("课程简介");
            jQuery(".school-detail-popup .title").html("课程简介");
            var html = jQuery("#CourseCharacteristicContent").html();
            jQuery(".school-detail-popup  .content").html(html);
        });
        //其他收费
        jQuery(".price-msg").on("click", function () {
            console.log("其他收费");
            jQuery(".school-detail-popup .title").html("其他收费");
            var html = jQuery("#OtherFeeContent").html();
            jQuery(".school-detail-popup  .content").html(html);
        });
        //课后管理
        jQuery(".manage").on("click", function () {
            console.log("课后管理");
            jQuery(".school-detail-popup .title").html("课后管理");
            var html = jQuery("#AfterClassContent").html();
            jQuery(".school-detail-popup  .content").html(html);
        });

        //回复弹框勾选
        $('.reply-box .btn').on('click', function () {
            $(this).hasClass('active') ? $(this).removeClass('active') : $(this).addClass('active');
        })

        //点评回复框弹出
        $(".parent-comment .comment-list .ctr .comment").click(function () {
            let that = $(this).parent().parent().prev().prev().find(".other-list-btn")

            $.ajax({
                url: "/Home/CheckLogin",
                type: "GET",
                success: function (data) {
                    if (data.status == 200) {
                        if (data.data.isLogin == false) {
                            var path = isSchool + window.location.href;
                            window.location.href =  isSchool + data.data.loginUrl + path;
                        }
                        else {
                            $('.curtain').fadeIn();
                            $('.reply-box .btn').removeClass('active');
                            $('.reply-box textarea').val('');
                            $('body').css('overflow', 'hidden');
                            $('.reply-box').animate({ 'bottom': 0, }, 'normal');
                            $('.submit-reply').css('color', 'rgb(153, 153, 153)')

                            $('.popup-box').animate({ 'bottom': '-30%' }, 300);
                            $(".popup-box").attr("id", that.attr("data-id"))
                            $(".popup-box").attr("dataType", 1)
                        }
                    }
                }
            })
        })

        //问答回复
        $('.reply-btn').on('click', function () {
            $.ajax({
                url: "/Home/CheckLogin",
                type: "GET",
                success: function (data) {
                    if (data.status == 200) {
                        if (data.data.isLogin == false) {
                            var path = window.location.href;
                            window.location.href = data.data.loginUrl + path;
                        }
                        else {
                            $('.curtain').fadeIn();
                            $('.reply-box .btn').removeClass('active');
                            $('.reply-box textarea').val('');
                            $('body').css('overflow', 'hidden');
                            $('.reply-box').animate({ 'bottom': 0, }, 'normal');
                            $('.submit-reply').css('color', 'rgb(153, 153, 153)')

                            //$('.curtain').fadeOut(300);
                            $('.popup-box').animate({ 'bottom': '-30%' }, 300);
                            //$(".popup-box").attr("dataType",2)
                            //$('.botton-reply-input').css('display', 'block').children('input').focus();
                        }
                    }
                }
            })
        })

        $(".submit-reply").click(function () {
            if ($(".popup-box").attr("datatype") == 1) {
                let reply = $("#reply").val();
                if (reply != "") {
                    debugger;
                    //点评id
                    let currentCommentId = $(".popup-box").attr("id")
                    //学校辟谣
                    let Rumor = $("#Rumor").is('.active');
                    //是否在读
                    let Student = $("#Student").is('.active');
                    //匿名
                    let anonymous = $("#anonymous").is('.active');
                    $.ajax({
                        url: "/SchoolComment/CommentReply", type: "post", data: { IsSchoolPublish: Rumor, IsAnony: anonymous, Content: reply, SchoolCommentId: currentCommentId, IsAttend: Student },
                        beforeSend: function () {
                            $.loading("数据提交中")
                        },
                        complete: function () {
                            $.loading("remove")
                        },
                        success: function (data) {
                            if (data.status == 200) {

                                //清空回答
                                $(".curtain").click()
                                $("#reply").val("")
                                $(".writeComment").val("")

                                location.href = "/SchoolComment/CommentDetail?CommentId=" + currentCommentId;
                                //that.parent().parent().next().next().find(".ctr .comment").html('<i class="icon"></i>' + data.data.successRow)
                            }
                            else if (data.status == 402) {
                                var path = window.location.href;
                                window.location.href = data.data.loginUrl + path;
                            }
                            else {
                                console.log(data.msg)
                            }
                        }
                    })
                }
            }
            else {
                let reply = $("#reply").val();
                if (reply != "") {
                    debugger;
                    //问题id
                    let currentQuestionId = $(".popup-box").attr("id")
                    //学校辟谣
                    let Rumor = $("#Rumor").is('.active');
                    //匿名
                    let anonymous = $("#anonymous").is('.active');
                    //是否在读
                    let Student = $("#Student").is('.active');
                    $.ajax({
                        url: "/Question/QuestionAnswer", type: "POST", data: { QuestionInfoId: currentQuestionId, IsSchoolPublish: Rumor, IsAttend: Student, IsAnony: anonymous, Content: reply },
                        beforeSend: function () {
                            $.loading("数据提交中")
                        },
                        complete: function () {
                            $.loading("remove")
                        },
                        success: function (data) {
                            if (data.status == 200) {
                                $(".curtain").click()
                                $("#reply").val("")
                                $(".writeComment").val("")

                                //let questionId = $(that).parent().parent().find(".other-list-btn").attr("data-id");
                                location.href = "/Question/QuestionDetail?QuestionId=" + currentQuestionId;
                            }
                            else if (data.status == 402) {
                                var path = window.location.href;
                                window.location.href = data.data.loginUrl + path;
                            }
                            else {
                                //alert(data.msg);
                                console.log(data.msg)
                            }
                        }
                    })
                }
            }
        })

        //点评点赞
        // 点赞
        $('.like').on('click', function () {
            let currentType = $(".tab").find("li[class='active']").attr("data-query");
            var that = $(this);

            let likeType = 0;
            let commentId = "";

            likeType = $(that).attr("data-type");
            commentId = $(that).attr("data-id");


             $.ajax({
                    url: "/Home/CheckLogin",
                    type: "GET",
                    success: function (data) {
                        if (data.status == 200) {
                            if (data.data.isLogin == false) {
                                var path = window.location.href;
                                window.location.href = data.data.loginUrl + path;
                                event.preventDefault();
                            }
                            else
                            {
                               $.ajax({
                                    url: "/SchoolComment/LikeComment", type: "POST", data: { CommentId: commentId, LikeType: likeType }, success: function (data) {
                                        if (data.status == 200) {
                                            //let num = Number($(that).text())
                                            //if ($(that).hasClass('click-like')) {
                                            //    that.removeClass('click-like').children('i').css('animation', 'none').next().text(num - 1);
                                            //}
                                            //else {
                                            //    that.addClass('click-like').children('i').css('animation', 'animate .5s').next().text(num + 1);
                                            //}
                                        }
                                        else if (data.status == 402) {
                                            var path = window.location.href;
                                            window.location.href = data.data.loginUrl + path;
                                        }
                                        else {
                                            //alert(data.msg);
                                            console.log(data.msg)
                                        }
                                    }
                                })
                            }
                        }
                    }
             })

        })

    });
</script>