<html lang="zh">
@using Sxb.PCWeb.ViewModels
@{
    string schoolName = ViewBag.SchoolCard.SchoolName;
    var keywords = $"{schoolName}评价,{schoolName}怎么样,{schoolName}评分";
    var description = string.IsNullOrWhiteSpace(ViewBag.Page_Description) ? keywords : ViewBag.Page_Description;
    var title = $"{schoolName}评价_怎么样_评分-上学帮";

    var headerBreadcrumb = HeaderBreadcrumb.Instance
                    .SetChild("点评", "/comment")
                    .SetChild(schoolName, $"#")
                    .Head;
}
<head>
    <title>@(title)-上学帮</title>
    <meta name="keywords" content="@keywords">
    <meta name="description" content="@description">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/bootstrap.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/review/review.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/swiper.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/school-detail/school-detail-common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/review/review-common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/review/review-details.css">
    <title>Document</title>
</head>
<body>
    <header class="header strategy-header-new">
        <div class="container strategy-header">
            @await Html.PartialAsync("HeaderPartial", 2)
        </div>
    </header>

    <!-- 面包屑导航 - S -->
    @await Html.PartialAsync("HeaderBreadcrumb", headerBreadcrumb, null)
    <!-- 面包屑导航 - E -->

    <section class="review-details">
        <div class="container">
            <div class="content d-flex clearfix">
                @if (string.IsNullOrWhiteSpace(ViewBag.KeyWords))
                {
                    if (ViewBag.CommentTotal[0].Total > 0)
                    {
                        int SelectedTab = ViewBag.SelectedTab;
                        <!-- 有评论 -->
                        <div class="left-content d-block">
                            <div class="reply-comment-school-name d-flex justify-content-between">
                                <div>
                                    <h1 class="color-333 font-weight-bold">@ViewBag.SchoolCard.SchoolName</h1>
                                    @{
                                        string starEng = "three";
                                        switch (ViewBag.SchoolCard.Stars)
                                        {
                                            case 0: starEng = "zero"; break;
                                            case 1: starEng = "one"; break;
                                            case 2: starEng = "two"; break;
                                            case 3: starEng = "three"; break;
                                            case 4: starEng = "four"; break;
                                            case 5: starEng = "five"; break;
                                            default: starEng = "three"; break;
                                        }
                                    }
                                    <p class="score color-333 font-weight-bold">
                                        综合评分：<img src="@(ViewBag.StaticFile)/imgs/starHide12/@(starEng).png"
                                                  alt="评分">
                                    </p>
                                    <ul class='comprehensive-list font-15 float-left'>
                                        @if ((ViewBag.SchoolScore?.TeachStar + ViewBag.SchoolScore?.HardStar + ViewBag.SchoolScore?.EnvirStar + ViewBag.SchoolScore?.ManageStar + ViewBag.SchoolScore?.LifeStar) > 0)
                                        {
                                            <li>师资 <span>@(ViewBag.SchoolScore.TeachStar)星</span></li>
                                            <li>硬件 <span>@(ViewBag.SchoolScore.HardStar)星</span></li>
                                            <li>环境 <span>@(ViewBag.SchoolScore.EnvirStar)星</span></li>
                                            <li>校风 <span>@(ViewBag.SchoolScore.ManageStar)星</span></li>
                                            <li>生活 <span>@(ViewBag.SchoolScore.LifeStar)星</span></li>
                                        }
                                        else
                                        {
                                            <li>师资 <span>--</span></li>
                                            <li>硬件 <span>--</span></li>
                                            <li>环境 <span>--</span></li>
                                            <li>校风 <span>--</span></li>
                                            <li>生活 <span>--</span></li>
                                        }
                                    </ul>
                                </div>
                                <div class="reply-comment-right">
                                    <a href="/school-@ViewBag.SchoolCard.ShortSchoolNo/" title="查看学校详情" class="see-school-detail font-14">查看学校详情</a>
                                    <a href="@Url.Action("Write", "Comment", new { eid = @ViewBag.SchoolCard.ExtId })" title="马上点评，分享心得" class="share" rel="nofollow">马上点评，分享心得</a>
                                </div>
                            </div>
                            @if (ViewBag.CommentTotal[SelectedTab - 1].Total > 0)
                            {
                                <div class="parents-comments-list school-review-list-content">
                                    <div>
                                        <div class="d-flex justify-content-between comments-all">
                                            <h4 class="font-16">全部点评<i>（@ViewBag.TotalPage）</i></h4>
                                            <div class="search-div school-review-search position-relative">
                                                <form action="@Url.Action("School","Comment",new { })" id='search_form'>
                                                    <input type="text" id="commentContent" name="search" placeholder="在点评中搜索" class="input-keyword font-12" data-channel='0'>
                                                    <a></a>
                                                    <i class="search-icon-btn" id="search-icon-btn"></i>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments-tab">
                                        @foreach (var item in ViewBag.CommentTotal)
                                        {
                                            if (item.SchoolSectionId != default(Guid))
                                            {
                                                <a class="@(SelectedTab == item.TotalTypeNumber ? "selected" : "")" href="/comment/school-@ViewBag.SchoolCard.ShortSchoolNo/@item.TotalTypeNumber/">@item.Name@("(" + item.Total + ")")</a>
                                            }
                                            else
                                            {
                                                <a class="@(SelectedTab == item.TotalTypeNumber ? "selected" : "")" href="/comment/school-@ViewBag.SchoolCard.ShortSchoolNo/@item.TotalTypeNumber/">@item.TotalType@("(" + item.Total + ")")</a>
                                            }
                                        }
                                        <div class='clearfix'></div>
                                    </div>
                                    @if (ViewBag.HotCommentList != null && ViewBag.HotCommentList.Count > 0)
                                    {
                                        <h2 class="font-20 color-333 font-weight-bold school-review-list-hot">热门点评</h2>
                                        <ul class='comments-list school-review-list-comments'>
                                            @foreach (var comment in ViewBag.HotCommentList)
                                            {
                                                @await Html.PartialAsync("_CommentSimpleItem.cshtml", (Sxb.PCWeb.ViewModels.Comment.CommentInfoViewModel)comment)
                                            }
                                        </ul>
                                    }
                                    <h2 class="font-20 color-333 font-weight-bold school-review-list-hot">最新点评</h2>
                                    <ul class='comments-list school-review-list-comments'>
                                        @foreach (var comment in ViewBag.NewCommentList)
                                        {
                                            @await Html.PartialAsync("_CommentSimpleItem.cshtml", (Sxb.PCWeb.ViewModels.Comment.CommentInfoViewModel)comment)
                                        }
                                    </ul>
                                    @if ((int)(Math.Ceiling(ViewBag.TotalPage / 10.0)) > 1)
                                    {
                                        <!--                    分页-->
                                        <nav class="page d-flex justify-content-end">
                                            @(await Html.PartialAsync("PaginationGen", new Sxb.PCWeb.ViewModels.Article.PaginationViewModel(
                                                        "School",
                                                        "Comment",
                                                        (int)(Math.Ceiling(ViewBag.TotalPage / 10.0)),
                                                        (int)ViewBag.PageSize,
                                                        (int)ViewBag.PageIndex,
                                                        (_this) => { return new { search = @ViewBag.KeyWords,  Tab = ViewBag.SelectedTab, page = _this.CurrentPage - 1 }; },
                                                        (_pageItem, _this) => { return new { search = @ViewBag.KeyWords,  Tab = ViewBag.SelectedTab, page = _pageItem }; },
                                                        (_this) => { return new { search = @ViewBag.KeyWords,  Tab = ViewBag.SelectedTab, page = _this.CurrentPage + 1 }; }
                                                        )))
                                        </nav>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="parents-comments-list school-review-list-content">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="font-16">共0条点评符合搜索条件</h4>
                                        @*<form action="@Url.Action("School","Comment",new { })" id='search_form'>
                                                <input type="text" id="commentContent" name="search" placeholder="在点评中搜索" class="input-keyword font-12" data-channel='0'>
                                                <a></a>
                                                <i class="search-icon-btn" id="search-icon-btn"></i>
                                            </form>*@
                                    </div>
                                    @*<h3 class="font-16">
                                            全部点评
                                        </h3>*@
                                    <div class="text-center no-comment">
                                        <p class="font-14">暂无点评 <span class="font-12 d-block">换个筛选条件试试~</span></p>
                                    </div>
                                    <div class="comments-tab">
                                        @foreach (var item in ViewBag.CommentTotal)
                                        {
                                            if (item.SchoolSectionId != default(Guid))
                                            {
                                                <a class="@(SelectedTab == item.TotalTypeNumber ? "selected" : "")" href="/comment/school-@ViewBag.SchoolCard.ShortSchoolNo/@item.TotalTypeNumber/">@item.Name@("(" + item.Total + ")")</a>
                                            }
                                            else
                                            {
                                                <a class="@(SelectedTab == item.TotalTypeNumber ? "selected" : "")" href="/comment/school-@ViewBag.SchoolCard.ShortSchoolNo/@item.TotalTypeNumber/">@item.TotalType@("(" + item.Total + ")")</a>
                                            }
                                        }
                                        <div class='clearfix'></div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <!-- 无评论 -->
                        <div class="left-content d-block">
                            <div class="reply-comment-school-name d-flex justify-content-between">
                                <div>
                                    <h1 class="color-333 font-weight-bold">@ViewBag.SchoolCard.SchoolName</h1>
                                    <p class="score color-333 font-weight-bold">
                                        综合评分：<img src="@(ViewBag.StaticFile)/imgs/starHide12/zero.png"
                                                  alt="评分">
                                    </p>
                                    <ul class='comprehensive-list font-15 float-left'>
                                        <li>师资 <span>--</span></li>
                                        <li>硬件 <span>--</span></li>
                                        <li>环境 <span>--</span></li>
                                        <li>校风 <span>--</span></li>
                                        <li>生活 <span>--</span></li>
                                    </ul>
                                </div>
                                <div class="reply-comment-right">
                                    <a href="/school-@ViewBag.SchoolCard.ShortSchoolNo/" title="查看学校详情" class="see-school-detail font-14">查看学校详情</a>
                                    <a href="@Url.Action("Write", "Comment", new { eid = @ViewBag.SchoolCard.ExtId })" title="马上点评，分享心得" class="share">马上点评，分享心得</a>
                                </div>
                            </div>
                            <div class="parents-comments-list school-review-list-content">
                                <div class="d-flex justify-content-between">
                                    <h4 class="font-16">全部点评0条</h4>
                                    @*<form action="@Url.Action("School","Comment",new { })" id='search_form'>
                                            <input type="text" id="commentContent" name="search" placeholder="在点评中搜索" class="input-keyword font-12" data-channel='0'>
                                            <a></a>
                                            <i class="search-icon-btn" id="search-icon-btn"></i>
                                        </form>*@
                                </div>
                                <div class="text-center no-comment have-icon">
                                    <p class="font-14"><i></i><span class="font-12 d-block">马上来分享您的心得呗~</span></p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    if (ViewBag.TotalPage > 0)
                    {
                        <div class="left-content d-block">
                            <div class="reply-comment-school-name d-flex justify-content-between">
                                <div>
                                    <h1 class="color-333 font-weight-bold">@ViewBag.SchoolCard.SchoolName</h1>
                                    @{
                                        string starEng = "three";
                                        switch (ViewBag.SchoolCard.Stars)
                                        {
                                            case 0: starEng = "zero"; break;
                                            case 1: starEng = "one"; break;
                                            case 2: starEng = "two"; break;
                                            case 3: starEng = "three"; break;
                                            case 4: starEng = "four"; break;
                                            case 5: starEng = "five"; break;
                                            default: starEng = "three"; break;
                                        }
                                    }
                                    <p class="score color-333 font-weight-bold">
                                        综合评分：<img src="@(ViewBag.StaticFile)/imgs/starHide12/@(starEng).png"
                                                  alt="评分">
                                    </p>
                                    <ul class='comprehensive-list font-15 float-left'>
                                        @if ((ViewBag.SchoolScore?.TeachStar + ViewBag.SchoolScore?.HardStar + ViewBag.SchoolScore?.EnvirStar + ViewBag.SchoolScore?.ManageStar + ViewBag.SchoolScore?.LifeStar) > 0)
                                        {
                                            <li>师资 <span>@(ViewBag.SchoolScore.TeachStar)星</span></li>
                                            <li>硬件 <span>@(ViewBag.SchoolScore.HardStar)星</span></li>
                                            <li>环境 <span>@(ViewBag.SchoolScore.EnvirStar)星</span></li>
                                            <li>校风 <span>@(ViewBag.SchoolScore.ManageStar)星</span></li>
                                            <li>生活 <span>@(ViewBag.SchoolScore.LifeStar)星</span></li>
                                        }
                                        else
                                        {
                                            <li>师资 <span>--</span></li>
                                            <li>硬件 <span>--</span></li>
                                            <li>环境 <span>--</span></li>
                                            <li>校风 <span>--</span></li>
                                            <li>生活 <span>--</span></li>
                                        }
                                    </ul>
                                </div>
                                <div class="reply-comment-right">
                                    <a href="/school-@ViewBag.SchoolCard.ShortSchoolNo/" title="查看学校详情" class="see-school-detail font-14">查看学校详情</a>
                                    <a href="@Url.Action("Write", "Comment", new { eid = @ViewBag.SchoolCard.ExtId })" title="马上点评，分享心得" class="share">马上点评，分享心得</a>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between comments-all">
                                <h4 class="font-16">共<i>@ViewBag.TotalPage</i>条点评符合搜索条件</h4>
                                <div class="search-div school-review-search position-relative">
                                    <form action="@Url.Action("School","Comment",new { })" id='search_form'>
                                        <input type="text" id="commentContent" value="@ViewBag.KeyWords" name="search" placeholder="在点评中搜索" class="input-keyword font-12" data-channel='0'>
                                        <a></a>
                                        <i class="search-icon-btn" id="search-icon-btn"></i>
                                    </form>
                                </div>
                            </div>
                            <div class="parents-comments-list school-review-list-content">
                                <h2 class="font-20 color-333 font-weight-bold school-review-list-hot">最新点评</h2>
                                <ul class='comments-list school-review-list-comments'>
                                    @foreach (var comment in ViewBag.NewCommentList)
                                    {
                                        @await Html.PartialAsync("_CommentSimpleItem.cshtml", (Sxb.PCWeb.ViewModels.Comment.CommentInfoViewModel)comment)
                                    }
                                </ul>
                                @if ((int)(Math.Ceiling(ViewBag.TotalPage / 10.0)) > 1)
                                {
                                    <!--                    分页-->
                                    <nav class="page d-flex justify-content-end">
                                        @(await Html.PartialAsync("PaginationGenEx", new Sxb.PCWeb.ViewModels.Article.PaginationViewModel(
                                                            "School",
                                                            "Comment",
                                                            (int)(Math.Ceiling(ViewBag.TotalPage / 10.0)),
                                                            (int)ViewBag.PageSize,
                                                            (int)ViewBag.PageIndex,
                                                            (_this) => { return new { search = @ViewBag.KeyWords, Id = ViewBag.ExtId.ToString("N"), Tab = ViewBag.SelectedTab, page = _this.CurrentPage - 1 }; },
                                                            (_pageItem, _this) => { return new { search = @ViewBag.KeyWords, Id = ViewBag.ExtId.ToString("N"), Tab = ViewBag.SelectedTab, page = _pageItem }; },
                                                            (_this) => { return new { search = @ViewBag.KeyWords, Id = ViewBag.ExtId.ToString("N"), Tab = ViewBag.SelectedTab, page = _this.CurrentPage + 1 }; }
                                                            )))
                                    </nav>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="left-content d-block">
                            <div class="reply-comment-school-name d-flex justify-content-between">
                                <div>
                                    <h1 class="color-333 font-weight-bold">@ViewBag.SchoolCard.SchoolName</h1>
                                    @{
                                        string starEng = "three";
                                        switch (ViewBag.SchoolCard.Stars)
                                        {
                                            case 0: starEng = "zero"; break;
                                            case 1: starEng = "one"; break;
                                            case 2: starEng = "two"; break;
                                            case 3: starEng = "three"; break;
                                            case 4: starEng = "four"; break;
                                            case 5: starEng = "five"; break;
                                            default: starEng = "three"; break;
                                        }
                                    }
                                    <p class="score color-333 font-weight-bold">
                                        综合评分：<img src="@(ViewBag.StaticFile)/imgs/starHide12/@(starEng).png"
                                                  alt="评分">
                                    </p>
                                    <ul class='comprehensive-list font-15 float-left'>
                                        @if ((ViewBag.SchoolScore?.TeachStar + ViewBag.SchoolScore?.HardStar + ViewBag.SchoolScore?.EnvirStar + ViewBag.SchoolScore?.ManageStar + ViewBag.SchoolScore?.LifeStar) > 0)
                                        {
                                            <li>师资 <span>@(ViewBag.SchoolScore.TeachStar)星</span></li>
                                            <li>硬件 <span>@(ViewBag.SchoolScore.HardStar)星</span></li>
                                            <li>环境 <span>@(ViewBag.SchoolScore.EnvirStar)星</span></li>
                                            <li>校风 <span>@(ViewBag.SchoolScore.ManageStar)星</span></li>
                                            <li>生活 <span>@(ViewBag.SchoolScore.LifeStar)星</span></li>
                                        }
                                        else
                                        {
                                            <li>师资 <span>--</span></li>
                                            <li>硬件 <span>--</span></li>
                                            <li>环境 <span>--</span></li>
                                            <li>校风 <span>--</span></li>
                                            <li>生活 <span>--</span></li>
                                        }
                                    </ul>
                                </div>
                                <div class="reply-comment-right">
                                    <a href="/school-@ViewBag.SchoolCard.ShortSchoolNo/" title="查看学校详情" class="see-school-detail font-14">查看学校详情</a>
                                    <a href="@Url.Action("Write", "Comment", new { eid = @ViewBag.SchoolCard.ExtId })" title="马上点评，分享心得" class="share">马上点评，分享心得</a>
                                </div>
                            </div>
                            <div class="parents-comments-list school-review-list-content">
                                <div class="d-flex justify-content-between comments-all">
                                    <h4 class="font-16">共0条点评符合搜索条件</h4>
                                    <div class="search-div school-review-search position-relative">
                                        <form action="@Url.Action("School","Comment",new { })" id='search_form'>
                                            <input type="text" value="@ViewBag.KeyWords" id="commentContent" name="search" placeholder="在点评中搜索" class="input-keyword font-12" data-channel='0'>
                                            <a></a>
                                            <i class="search-icon-btn" id="search-icon-btn"></i>
                                        </form>
                                    </div>
                                </div>
                                <div class="text-center no-comment">
                                    <p class="font-14">暂无点评 <span class="font-12 d-block">换个搜索条件试试~</span></p>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="right-list">
                    <!-- 广告开始 -->
                    <div class="mkt-box">
                        <div class="swiper-container swiper-mkt swiperSchoolAd" alt="26" id="swiperSchoolAd-26" style="height: 205px;">
                            <div class="swiper-wrapper">
                            </div>
                            <div class="swiper-pagination mkt-pagination"></div>
                        </div>
                    </div>
                    <!-- 广告结束 -->
                    <div class="hot-comment-school">
                        <h2 class="font-18 font-weight-bold">热评学校</h2>
                        <ul class="school-list">
                            @{
                                var HotSchoolComment = (List<Sxb.PCWeb.ViewModels.School.SchoolCommentCardViewModel>)ViewBag.HottestSchoolView;
                                for (int i = 0; i < HotSchoolComment.Count(); i++)
                                {
                                    ViewBag.Level = i + 1;
                                    @await Html.PartialAsync("_HotSchoolComment.cshtml", HotSchoolComment[i]);
                                }
                            }
                        </ul>
                    </div>
                    <div class="hot-school">
                        <h2 class="font-18 font-weight-bold">热门点评</h2>
                        <ul class="hot-comment">
                            @foreach (var item in ViewBag.HottestComment)
                            {
                                @await Html.PartialAsync("_HottestComment.cshtml", (Sxb.PCWeb.ViewModels.Comment.CommentInfoViewModel)item);
                            }
                        </ul>
                    </div>
                    <div class="hot-comment-school">
                        <h2 class="font-18 font-weight-bold">热问学校</h2>
                        <ul class="school-list">
                            @{
                                var HotSchoolQuestion = (List<Sxb.PCWeb.ViewModels.School.SchoolQuestionCardViewModel>)ViewBag.HottestQuestionSchoolView;
                                for (int i = 0; i < HotSchoolQuestion.Count(); i++)
                                {
                                    ViewBag.Level = i + 1;
                                    @await Html.PartialAsync("../Question/_HotSchoolQuestion.cshtml", HotSchoolQuestion[i]);
                                }
                            }
                        </ul>
                    </div>
                    <div class="hot-question">
                        <h2 class="font-18 font-weight-bold">热门问答</h2>
                        <ul>
                            @foreach (var item in ViewBag.HottestSchoolQuesitonView)
                            {
                                @await Html.PartialAsync("../Question/_HottestQuestion.cshtml", (Sxb.PCWeb.ViewModels.Question.QuestionInfoViewModel)item);
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* 右侧条 *@
    @await Html.PartialAsync("Right_bar")
    @* 底部栏 *@
    @{ await Html.RenderPartialAsync("Footer"); }
    <!-- 举报框 -->
    @await Html.PartialAsync("Report")
    @* 敏感词浮层 *@
    @await Html.PartialAsync("Mask")
    <script src="@(ViewBag.StaticFile)/js/jquery-3.4.0.min.js"></script>
    <script src="@(ViewBag.StaticFile)/js/jquery.cookie.js"></script>
    <script src='@(ViewBag.StaticFile)/js/swiper.js'></script>
    <script src="@(ViewBag.StaticFile)/js/school-detail/showPhoto.js"></script>
    <script src="@(ViewBag.StaticFile)/js/review/review.js"></script>
    <script src="@(ViewBag.StaticFile)/js/common.js"></script>
    <script src="@(ViewBag.StaticFile)/js/question/questionCommon.js"></script>
    <script src='@(ViewBag.StaticFile)/js/school-detail/schoolDetail.js'></script>
    <script src="@(ViewBag.StaticFile)/js/other/showAllArticle.js"></script>
    <script src="@(ViewBag.StaticFile)/js/other/upLoadImage.js"></script>
    <script src="@(ViewBag.StaticFile)/js/review/CommentQaCommon.js"></script>
    <script src="@(ViewBag.StaticFile)/js/school-detail/swiperAd.js"></script>
    <script>
        $(function () {
            $("#search-icon-btn").click(function () {
                $("#search_form").submit()
            })
        })
    </script>
</body>
</html>