<!doctype html>
<html lang="en">
<head>
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
    <title>上学帮让升学更简单</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 0;
        }
        .hide{
            display: none;
        }
    </style>
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/common.css">
</head>
<body>
    <img src="@ViewBag.ImageUrl" alt="扫码图片" style="width: 100%;" />

    <a class="share hide" data-title="免费领！牛娃都在用的“升学全家桶”！"  data-content="简历范本、考试真题、政策文件、学校数据、志愿指南……你想要的这里都有！"></a>

    <script type="text/javascript" src="@ViewBag.StaticFile/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="@ViewBag.StaticFile/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="@ViewBag.StaticFile/js/layout-common.js"></script>
    <script src="https://cos.sxkid.com/v4source/statistics.js?appid=1"></script>
</body>
</html>