@model Sxb.PCWeb.ViewModels.Question.QuestionAnswerViewModel
<div class="d-flex">
    <div class="client-data">
        <div class='photo'>
            <img src="@Model.UserInfoVo.HeadImager" alt="头像">
        </div>
        @if (Model.UserInfoVo?.IsSchool == true && Model.UserInfoVo?.IsTalent == true)
        {
            <img src="@(ViewBag.StaticFile)/imgs/detail/schoolCertification@3x.png" alt="学校认证"
                 class="icon-certification">
            <img src="@(ViewBag.StaticFile)/imgs/detail/weiboCertification@3x.png" alt="学校认证"
                 class="icon-certification">
        }
        else if (Model.UserInfoVo?.IsSchool == true)
        {
            <img src="@(ViewBag.StaticFile)/imgs/detail/schoolCertification@3x.png" alt="学校认证"
                 class="icon-certification">
        }
        else if (Model.UserInfoVo?.IsTalent == true)
        {
            <img src="@(ViewBag.StaticFile)/imgs/detail/weiboCertification@3x.png" alt="学校认证"
                 class="icon-certification">
        }
    </div>
    <div class="list-right  no-img">
        <span class='client-name font-13'>@Model.UserInfoVo.NickName</span>
        <div>
            <a href="@Url.Action("Reply","Question",new {Id = Model.Id})" class="comments-content font-15 have-show-all no-img">
            @Model.Content
            </a>
        </div>
        <div class="d-flex  justify-content-end">
            <a href="javascript:;" class='show-all-comments font-12'>显示全部</a>
        </div>
        <div class='clearfix'></div>
        <div class="like">
            <span class='font-13'>@Model.AddTime</span>
            <a href="javascript:;" class='collection float-right iconReport'   data-reportType="4" data-reportId="@Model.Id"  title="举报">举报</a>
            <a href="javascript:;" class="icon-like font-12 float-right @Model.LikeTotal" data-Id="@Model.Id" data-Type="4"  >@Model.LikeTotal</a>
        </div>
        <div class="textarea textarea-height175">
            <textarea name="reply-comment" cols="30" rows="10" maxlength="300"
                class="reply-textarea"></textarea>
            <a href="javascript:;" title="发表" class="release-comments"  data-Id="@Model.QuestionId" data-Type="2" data-ReplyId="@Model.Id" >发表</a>
            <a href="javascript:;" title="匿名" class="comments-way">匿名</a>
            <a href="javascript:;" title="在读" class="comments-way">在读</a>
        </div>
    </div>
</div>