<!DOCTYPE html>
<html lang="zh">
@{
    var keywords = $"{ViewBag.LocalCity}学校答疑,{ViewBag.LocalCity}常见问题";
    var description = "学校答疑与常见问题";
    var title = $"{ViewBag.LocalCity}学校答疑_常见问题";
}
<head>
    <title>@(title)-上学帮</title>
    <meta name="keywords" content="@keywords">
    <meta name="description" content="@description">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/swiper.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/bootstrap.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/question/question-common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/review/review.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/review/review-common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/school-detail/school-detail-common.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/css/viewer.min.css">
    <link rel="stylesheet" href="@(ViewBag.StaticFile)/js/baseFun/gallery.css">

</head>
<body>
    <header class="header">
        <div>
            @await Html.PartialAsync("HeaderPartial", 3)
        </div>
        <div class="container d-flex header-content mt-0 mb-0 clearfix">
            <div class="sxb-icon d-flex">
                <h1 class="font-weight-bold"><a href="/" class="d-block">上学帮</a></h1>
                <div class="select font-14" id="select-city">
                    <i class="header-icon">@ViewBag.LocalCity</i>
                    <div class="city-list position-absolute">
                        <ul class="d-flex font-12 flex-wrap clearfix">
                            @foreach (var item in (List<PMS.Infrastructure.Application.ModelDto.AreaDto>)ViewBag.HotCity)
                            {
                                @*<li><a href="@Url.Action("Index","Home",new {City=item.AdCode })" title="@item.AreaName">@item.AreaName</a></li>*@
                                <li><a href="/c-@item.AdCode/" title="@item.AreaName">@item.AreaName</a></li>
                            }
                        </ul>
                        <a href="@Url.Action("Select","Home")" title="更多城市&gt;" class="more-city font-12">更多城市&gt;</a>
                    </div>
                </div>
            </div>
            <div>
                <ul class="search-type d-flex font-14">
                    <li>
                        <a href="javascript:;" data-searchType="question" class="font-14 @(ViewBag.ListType=="question"?"selected":"")" id="searchQuestion"
                           data-left-content="searchQuestion">搜问答</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-searchType="school" class="font-14 @(ViewBag.ListType=="school"?"selected":"")" id="selectSchool"
                           data-left-content="searchSchool">搜学校</a>
                    </li>
                </ul>
                <div class="search-bar d-flex position-relative">
                    <form action="@Url.Action("List", "Question", new { })" class="d-flex justify-content-between" method="get" id='search_form'>
                        <div class="search-div">
                            <input type="text" placeholder="请输入问题关键词搜索问题" name="search" class="input-keyword font-12" value="@ViewBag.KeyWords">
                            <input type="hidden" name="type" value="@ViewBag.ListType">
                        </div>
                        <input type="button" value="搜索" class="btn-search font-14" id="serchBtn">
                    </form>
                </div>
                <div class="recommend-search d-flex font-12">
                    <div class="keyword-0">
                        <span style="@(((List<string>)ViewBag.HotSearchWord).Any()?(""):("display:none"))">推荐搜索：</span>
                        <ul class="keyword d-flex">
                            @foreach (var item in (List<string>)ViewBag.HotSearchWord)
                            {
                                <li><a href="@Url.Action("List", "Question", new { search = item, type = @ViewBag.ListType })">@item</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="school-detail">
        <div class="container">
            <div class="content d-flex clearfix">

                @if (ViewBag.ListType == "question")
                {
                    <!-- 搜问答 -->

                    <div class="left-content d-block" id="searchQuestion">
                        @if (ViewBag.QuestionList != null && ViewBag.QuestionList.Count > 0)
                        {
                            <div class="search-question-list">
                                <div class="comment-navigation" style="padding-bottom:15px;margin-top:-15px;">
                                    <a href="/">首页</a>
                                    <span class="comment-navigation-span">&gt;</span>
                                    <a href="/question/">问答</a>
                                </div>
                                <ul class="comments-list">
                                    @foreach (var question in ViewBag.QuestionList)
                                    {
                                        @await Html.PartialAsync("_QuestionItem.cshtml", (Sxb.PCWeb.ViewModels.Question.QuestionInfoViewModel)question)
                                    }
                                </ul>
                                @if ((ViewBag.TotalPage / 10) > 1)
                                {
                                    <nav class="page d-flex justify-content-end">
                                        @(await Html.PartialAsync("PaginationGen", new Sxb.PCWeb.ViewModels.Article.PaginationViewModel(
                                        "List",
                                        "Question",
                                        (int)(Math.Ceiling(ViewBag.TotalPage / 10.0)),
                                        (int)ViewBag.PageSize,
                                        (int)ViewBag.PageIndex,
                                        (_this) => { return new { search = @ViewBag.KeyWords, type = ViewBag.ListType, page = _this.CurrentPage - 1 }; },
                                        (_pageItem, _this) => { return new { search = @ViewBag.KeyWords, type = ViewBag.ListType, page = _pageItem }; },
                                        (_this) => { return new { search = @ViewBag.KeyWords, type = ViewBag.ListType, page = _this.CurrentPage + 1 }; }
                                        )))
                                    </nav>
                                }
                            </div>
                        }
                        else
                        {
                            <div class='school-review-list-no-comment-div'>
                                <div class="text-center no-comment school-review-list-no-comment">
                                    <p class="font-14">很抱歉，暂未找到与“<span class="color-blue">@(ViewBag.KeyWords)</span>”相关的问题<span class="font-14 d-block">换个搜索条件试试呗~~</span></p>
                                </div>
                            </div>
                        }
                    </div>

                }
                else
                {
                    <!-- 搜学校   -->

                    <div class="left-content d-block" id="searchSchool">
                        @if (ViewBag.SchoolList != null && ViewBag.SchoolList.Count > 0)
                        {
                            <div class="search-school-list">
                                <div class="comment-navigation" style="margin-top:-15px;">
                                    <a href="/">首页</a>
                                    <span class="comment-navigation-span">&gt;</span>
                                    <a href="/question/">问答</a>
                                </div>
                                <ul class="school-list-ul">
                                    @foreach (var school in ViewBag.SchoolList)
                                    {
                                        @await Html.PartialAsync("_SchoolItem.cshtml", (Sxb.PCWeb.ViewModels.Question.QuestionSchoolViewModel)school)
                                    }
                                </ul>
                                @if ((ViewBag.TotalPage / 10) > 1)
                                {
                                    <!--分页-->
                                    <nav class="page d-flex justify-content-end">
                                        @(await Html.PartialAsync("PaginationGen", new Sxb.PCWeb.ViewModels.Article.PaginationViewModel(
                                        "List",
                                        "Question",
                                        (int)(Math.Ceiling(ViewBag.TotalPage / 10.0)),
                                        (int)ViewBag.PageSize,
                                        (int)ViewBag.PageIndex,
                                        (_this) => { return new { search = @ViewBag.KeyWords, type = ViewBag.ListType, page = _this.CurrentPage - 1 }; },
                                        (_pageItem, _this) => { return new { search = @ViewBag.KeyWords, type = ViewBag.ListType, page = _pageItem }; },
                                        (_this) => { return new { search = @ViewBag.KeyWords, type = ViewBag.ListType, page = _this.CurrentPage + 1 }; }
                                        )))
                                    </nav>
                                }
                            </div>
                        }
                        else
                        {
                            <div class='school-review-list-no-comment-div'>
                                <div class="text-center no-comment school-review-list-no-comment">
                                    <p class="font-14">很抱歉，暂未找到与“<span class="color-blue">@(ViewBag.KeyWords)</span>”相关的学校<span class="font-14 d-block">换个搜索条件试试呗~~</span></p>
                                </div>
                            </div>
                        }
                    </div>

                }
                <div class="right-list">
                    <!-- 广告开始 -->
                    <div class="mkt-box" id="rightBanner">
                        <div class="swiper-container swiper-mkt swiperSchoolAd" alt="27" id="swiperSchoolAd-27" style="height: 205px;overflow: hidden !important;">
                            <div class="swiper-wrapper">
                            </div>
                            <div class="swiper-pagination mkt-pagination"></div>
                        </div>
                    </div>
                    <!-- 广告结束 -->
                    <div class="hot-question">
                        <h2 class="font-18 font-weight-bold">热门问答</h2>
                        <ul class="comments-list">
                            @foreach (var item in ViewBag.HottestSchoolQuesitonView)
                            {
                                @await Html.PartialAsync("_HottestQuestion.cshtml", (Sxb.PCWeb.ViewModels.Question.QuestionInfoViewModel)item);
                            }
                        </ul>
                    </div>
                    <div class="hot-comment-school">
                        <h2 class="font-18 font-weight-bold">热问学校</h2>
                        <ul class="school-list">
                            @{
                                var HotSchoolQuestion = (List<Sxb.PCWeb.ViewModels.School.SchoolQuestionCardViewModel>)ViewBag.HottestSchoolView;
                                for (int i = 0; i < HotSchoolQuestion.Count(); i++)
                                {
                                    ViewBag.Level = i + 1;
                                    @await Html.PartialAsync("_HotSchoolQuestion.cshtml", HotSchoolQuestion[i]);
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* 右侧条 *@
    @await Html.PartialAsync("Right_bar");
    @* 底部栏 *@
    @{ await Html.RenderPartialAsync("Footer"); }
    <!-- 举报框 -->
    @await Html.PartialAsync("Report")
    @* 敏感词浮层 *@
    @await Html.PartialAsync("Mask")


    <script src="@(ViewBag.StaticFile)/js/jquery-3.4.0.min.js"></script>
    <script src="https://cdn.sxkid.com/v4source/statistics.js?appid=1"></script>
    <script src="@(ViewBag.StaticFile)/js/swiper.js"></script>
    <script src="@(ViewBag.StaticFile)/js/jquery.cookie.js"></script>
    <script src="@(ViewBag.StaticFile)/js/common.js"></script>
    <script src="@(ViewBag.StaticFile)/js/school-detail/showPhoto.js"></script>
    <script src="@(ViewBag.StaticFile)/js/question/questionCommon.js"></script>
    <script src="@(ViewBag.StaticFile)/js/school-detail/schoolDetail.js"></script>
    <script src="@(ViewBag.StaticFile)/js/other/upLoadImage.js"></script>
    <script src="@(ViewBag.StaticFile)/js/review/CommentQaCommon.js"></script>
    <script src="@(ViewBag.StaticFile)/js/other/showAllArticle.js"></script>
    <script src="@(ViewBag.StaticFile)/js/viewer.min.js"></script>
    <script src="@(ViewBag.StaticFile)/js/baseFun/gallery.js"></script>
    <script src="@(ViewBag.StaticFile)/js/school-detail/swiperAd.js"></script>
    <script>
        $(function () {
            $("#searchQuestion").click(function () {
                $("#search_form input[name='type']").val("question");
                $("#search_form").submit();
            });
            $("#selectSchool").click(function () {
                $("#search_form input[name='type']").val("school");
                $("#search_form").submit();
            });

            $("#serchBtn").click(function () {
                var searchType = $(".search-type li a[class='font-14 selected']").attr("data-searchType")
                $("#search_form input[name='type']").val(searchType);
                $("#search_form").submit();
            })
        });
    </script>
</body>
</html>