@model PMS.School.Domain.Dtos.SchoolExtListDto
@using PMS.School.Domain.Common;

@foreach (var item in Model.List)
{
    <li data-extid="@item.ExtId" data-sid="@item.Sid">
        <div class="flex justify-content-between">
            <div class="flex">
                <span class="delete-select"><i></i></span>
                <div>
                    <h2 class="school-name">@item.Name</h2>
                    <div class="tag">
                        <span>
                            @ProductManagement.Framework.Foundation.EnumExtension.Description((PMS.School.Domain.Common.SchoolType)item.Type)
                        </span>
                        @{
                            var lodgingType = LodgingUtil.Reason(item.Lodging, item.Sdextern);
                            var lodgingDesc = ProductManagement.Framework.Foundation.EnumExtension.Description(lodgingType);
                        }
                        @if (!string.IsNullOrWhiteSpace(lodgingDesc))
                        {
                            <span>@lodgingDesc</span>
                        }
                    </div>
                    <div class="msg">
                        @if (item.Tuition != null)
                        {
                        <span class="price">
                            @(item.Tuition >= 10000 ? Math.Round((decimal)(item.Tuition / 10000), 2) + "万" : item.Tuition.ToString())元/年
                        </span>
                        }
                        @if (item.Distance != null)
                        {
                            <span>@(Math.Round((decimal)(item.Distance / 1000), 2) + "km")</span>
                        }
                        <span>@item.City | @item.Area</span>
                    </div>
                    <ul class="type-list flex">
                        <li>
                            @(new iSchool.SchFType0((byte)item.Grade, item.Type, item.Discount, item.Diglossia, item.Chinese).GetDesc())
                        </li>
                        @foreach (var tag in item.Tags)
                        {
                            <li>@tag</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="score text-center">
                @if (item.Score != null)
                {
                    <h3>@(Math.Round((decimal)item.Score, 0))<span>分</span></h3>
                }
                else
                {
                    <span class="not-data">暂未评分</span>
                }
                <p>学校总评</p>
            </div>
        </div>
    </li>
}
<script type="text/javascript">
    jQuery(function () {
        jQuery("#PageIndex").val("@(Model.PageIndex)")
        jQuery("#PageCount").val("@(Model.PageCount)");
        jQuery("#PageSize").val("@((int)((Model.PageCount+Model.PageSize-1)/Model.PageSize))");
        jQuery(".load-more").remove();
        jQuery(".not-more-data").remove();
        @if (Model.PageIndex < (int)((Model.PageCount + Model.PageSize - 1) / Model.PageSize))
        {
            @:jQuery(".recommend").append('<div class="load-more text-center">正在努力加载</div>');
        }
        else {
            @:jQuery(".recommend").append('<div class="not-more-data">没有更多数据</div>');
        }
    });
    // 选择list
	$('.school-list>li').on('click', function() {
		$(this).hasClass('select') ? $(this).removeClass('select') : $(this).addClass('select');
	});
</script>