<div class="quick-navigation">
    <h2 class="font-20 font-weight-bold">快速导航</h2>
    <dl class="font-14">
        <dt>
            <div class="css-table">
                <div class="css-tr">
                    <div class="css-td">
                        <span>高 中</span>
                    </div>
                    <div class="css-td">
                        <em>:</em>
                        <ul>
                            <li><a href="@Url.Action("List","School",new { option = "tylx430" })/" title="外国人高中">外国人高中</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx432" })/" title="国际高中">国际高中</a></li>
                            @*<li><a href="@Url.Action("List","School",new { option = "tylx431"})/" title="双语高中">双语高中</a></li>*@
                            <li><a href="@Url.Action("List","School",new { option = "tylx420"})/" title="民办高中">民办高中</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx410"})/" title="公办高中">公办高中</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </dt>
        <dt>
            <div class="css-table">
                <div class="css-tr">
                    <div class="css-td">
                        <span>初 中</span>
                    </div>
                    <div class="css-td">
                        <em>:</em>
                        <ul>
                            <li><a href="@Url.Action("List","School",new { option = "tylx330"})/" title="外国人初中">外国人初中</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx331"})/" title="双语初中">双语初中</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx320"})/" title="民办初中">民办初中</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx310"})/" title="公办初中">公办初中</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </dt>
        <dt>
            <div class="css-table">
                <div class="css-tr">
                    <div class="css-td">
                        <span>小 学</span>
                    </div>
                    <div class="css-td">
                        <em>:</em>
                        <ul>
                            <li><a href="@Url.Action("List","School",new { option = "tylx230"})/" title="外国人小学">外国人小学</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx231"})/" title="双语小学">双语小学</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx220"})/" title="民办小学">民办小学</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx210"})/" title="公办小学">公办小学</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </dt>
        <dt>
            <div class="css-table">
                <div class="css-tr">
                    <div class="css-td">
                        <span>幼 儿 园</span>
                    </div>
                    <div class="css-td">
                        <em>:</em>
                        <ul>
                            <li><a href="@Url.Action("List","School",new { option = "tylx130"})/" title="国际幼儿园">国际幼儿园</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx121"})/" title="民办普惠幼儿园">民办普惠幼儿园</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx120"})/" title="普通民办幼儿园">普通民办幼儿园</a></li>
                            <li><a href="@Url.Action("List","School",new { option = "tylx110"})/" title="公办幼儿园">公办幼儿园</a></li>
                            @*<li><a href="@Url.Action("List","School",new { option = "tylx199"})/" title="幼托机构">幼托机构</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </dt>
    </dl>
</div>